<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="/public/images/logo-icon.png" />
  <title id="profile-title">Dashboard • App</title>
  <meta name="description"
    content="Welcome back, Creator. See your recent projects or get started on a recommend project. Browse all projects. Shop the latest range of kits. &#169; 2020 CreateBase.">
  <!-- =========================CSS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <!-- ------------------------CUSTOM------------------------ -->
  <link rel="stylesheet" href="/public/stylesheets/nav.min.css" />
  <link rel="stylesheet" href="/public/stylesheets/dashboard.min.css" />
</head>

<body onload="">

  <nav>
    <a href="https://createbase.co.nz" class="website">
      <img src="/public/images/logo-white.svg" class="website-logo" alt="CreateBase">
    </a>
    <div class="nav-menu">
      <a href="/dashboard" class="active-tab"><i class="material-icons md-36 md-light">dashboard</i></a>
      <a href="/projects"><i class="material-icons-outlined md-36 md-light">games</i></a>
      <a href="/orders"><i class="material-icons-outlined md-36 md-light">local_shipping</i></a>
      <a href="/settings"><i class="material-icons-outlined md-36 md-light">admin_panel_settings</i></a>
      <a href="/inbox"><i class="material-icons-outlined md-36 md-light">notifications</i></a>
    </div>
    <a href="/" class="logout"><i class="material-icons-outlined md-36 md-light">logout</i></a>
  </nav>

  <div class="ui-wrapper">
    <div class="header-container">
      <h1>Welcome back, <span id="h1-name">Jane</span></h1>
    </div>
    <div class="ui-container">
      <div class="db-left">

        <div class="profile-container">
          <img class="db-dp" src="/public/images/dp-example.jpg" alt="Display picture">
          <div class="trophy-case">
            <div class="badge trophy">
              <img src="/public/images/badges/Trophy.png" alt="Trophy">
            </div>
            <div class="badge medal">
              <img src="/public/images/badges/Medal.png" alt="Medal">
            </div>
            <div class="badge console">
              <img src="/public/images/badges/Console.png" alt="Console">
            </div>
            <div class="badge loyal">
              <img src="/public/images/badges/Loyal.png" alt="Loyal">
            </div>
            <div class="badge graduation">
              <img src="/public/images/badges/Graduation.png" alt="Grad">
            </div>
            <div class="badge empty">
              <img src="/public/images/badges/Empty.png" alt="Empty">
            </div>
            <div class="badge empty">
              <img src="/public/images/badges/Empty.png" alt="Empty">
            </div>
            <div class="badge empty">
              <img src="/public/images/badges/Empty.png" alt="Empty">
            </div>
            <div class="badge empty">
              <img src="/public/images/badges/Empty.png" alt="Empty">
            </div>
            <div class="badge empty">
              <img src="/public/images/badges/Empty.png" alt="Empty">
            </div>
          </div>
        </div>

        <h2 class="small-caps">Recent projects</h2>

        <div class="recent-container">

          <div class="project-card in-progress small blue">
            <div class="tags-container">
              <div class="project-tag progress-tag"><img src="/public/images/timelapse.svg" alt="Progress"><span>80%</span></div>
              <div class="project-tag justify-content-center align-items-center">AI</div>
              <div class="project-tag justify-content-center align-items-center" justify-content-center align-items-center>+3 More</div>
            </div>
            <div class="progress-trophy">
              <i class="material-icons-outlined recom-icon">lightbulb</i>
              <div class="trophy-wrapper">
                <i class="material-icons-round trophy-back">emoji_events</i>
                <div class="trophy-container">
                  <i class="material-icons-round">emoji_events</i>
                </div>
              </div>
            </div>
            <div class="project-info">
              <div class="project-rating"><span>4.8</span> <i class="material-icons-round">star</i></div>
              <div class="project-name">Machine Vision</div>
              <div class="project-about">Lorem ipsum something something</div>
              <div class="current-task"><span>Lens calibration</span> <i class="material-icons-round">arrow_forward</i></div>
            </div>
            <div class="progress-number">80%</div>
            <div class="progress-bar"></div>
          </div>

          <div class="project-card completed small green">
            <div class="tags-container">
              <div class="project-tag progress-tag"><img src="/public/images/timelapse.svg" alt="Progress"><span>80%</span></div>
              <div class="project-tag justify-content-center align-items-center">AI</div>
              <div class="project-tag justify-content-center align-items-center" justify-content-center align-items-center>+3 More</div>
            </div>
            <div class="progress-trophy">
              <i class="material-icons-outlined recom-icon">lightbulb</i>
              <div class="trophy-wrapper">
                <i class="material-icons-round trophy-back">emoji_events</i>
                <div class="trophy-container">
                  <i class="material-icons-round">emoji_events</i>
                </div>
              </div>
            </div>
            <div class="project-info">
              <div class="project-rating"><span>4.8</span> <i class="material-icons-round">star</i></div>
              <div class="project-name">Machine Vision</div>
              <div class="project-about">Lorem ipsum something something something something something</div>
              <div class="current-task"><span>Lens calibration</span> <i class="material-icons-round">arrow_forward</i></div>
            </div>
            <div class="progress-number">80%</div>
            <div class="progress-bar"></div>
          </div>

        </div>
        
        <h2 class="small-caps">Recommended</h2>

        <div class="recom-container">
          <div class="project-card new small orange">
            <div class="tags-container">
              <div class="project-tag progress-tag"><img src="/public/images/timelapse.svg" alt="Progress"><span>80%</span></div>
              <div class="project-tag justify-content-center align-items-center">AI</div>
              <div class="project-tag justify-content-center align-items-center" justify-content-center align-items-center>+3 More</div>
            </div>
            <div class="progress-trophy">
              <i class="material-icons-outlined recom-icon">lightbulb</i>
              <div class="trophy-wrapper">
                <i class="material-icons-round trophy-back">emoji_events</i>
                <div class="trophy-container">
                  <i class="material-icons-round">emoji_events</i>
                </div>
              </div>
            </div>
            <div class="project-info">
              <div class="project-rating"><span>4.8</span> <i class="material-icons-round">star</i></div>
              <div class="project-name">Machine Vision</div>
              <div class="project-about">Lorem ipsum something something</div>
              <div class="current-task"><span>Lens calibration</span> <i class="material-icons-round">arrow_forward</i></div>
            </div>
            <div class="progress-number">80%</div>
            <div class="progress-bar"></div>
          </div>
        </div>

      </div>
      <div class="db-right">

        <div class="stats-container">

          <div id="stat-unleash" class="stat">
            <img src="/public/images/placeholder.png" class="stat-img" alt="Stat">
            <div class="stat-text">
              <div class="stat-title">Unleash your inner creator</div>
              <div class="stat-about">Create your own projects and have them officially published to the community</div>
            </div>
            <div class="stat-fig-container">
              <div class="stat-fig-val"><span>2</span></div>
              <div class="stat-fig-text">Published</div>
            </div>
          </div>

          <div id="stat-champ" class="stat">
            <img src="/public/images/placeholder-2.png" class="stat-img" alt="Stat">
            <div class="stat-text">
              <div class="stat-title">The community champion</div>
              <div class="stat-about">Congratulations! Your projects are being completed by the community</div>
            </div>
            <div class="stat-fig-container">
              <div class="stat-fig-val"><span>38</span></div>
              <div class="stat-fig-text">Completions</div>
            </div>
          </div>

          <div id="stat-rate" class="stat">
            <img src="/public/images/placeholder-2.png" class="stat-img" alt="Stat">
            <div class="stat-text">
              <div class="stat-title">We rate that!</div>
              <div class="stat-about">The completion rate is the proportion of projects completed of those that you have started</div>
            </div>
            <div class="stat-fig-container">
              <div class="stat-fig-val"><span>95</span></div>
              <div class="stat-fig-text">% rate</div>
            </div>
          </div>

          <div id="stat-task" class="stat">
            <img src="/public/images/placeholder.png" class="stat-img" alt="Stat">
            <div class="stat-text">
              <div class="stat-title">CTRL + ALT + DEL</div>
              <div class="stat-about">You’re a Task Manager, keep it up!</div>
            </div>
            <div class="stat-fig-container">
              <div class="stat-fig-val"><span>54</span></div>
              <div class="stat-fig-text">Tasks</div>
            </div>
          </div>

        </div>

        <!-- <div class="shop-container">
          <img src="/public/images/dp-example.jpg" alt="Shop">
          <div class="shop">
            <i class="material-icons-outlined">local_mall</i>
            <div class="dp-shop-text">Shop</div>
          </div>
        </div> -->

      </div>
    </div>
  </div>

  </div>
  <!-- ==========================JS========================== -->
  <!-- -----------------------SOURCED------------------------ -->

  <!-- ------------------------CUSTOM------------------------ -->
  <!-- <script async src="/public/javascripts/nav.min.js"></script> -->
  <!-- <script async src="/public/javascripts/dashboard.min.js"></script> -->
</body>

</html>