<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="/public/images/logo-icon.png" />
  <title id="profile-title">Sign Up • App</title>
  <meta name="description"
    content="Welcome back, Creator. See your recent projects or get started on a recommend project. Browse all projects. Shop the latest range of kits. &#169; 2020 CreateBase.">
  <!-- =========================CSS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <!-- ------------------------CUSTOM------------------------ -->
  <link rel="stylesheet" href="/public/stylesheets/home.min.css" />
</head>

<!--<body onload="home.initialise();">-->

<body>
  <div class="wrap">
    <nav>
      <a href="https://createbase.co.nz/"><img src="..\public\images\logo.svg" alt="logo"></a>
    </nav>

    <div class="user-form-wrap">
      <div class="sign-up-container">
        <h1>Unleash your inner creator</h1>
        <form id="sign-up-form" action="/signup/submit" method="POST">
          <div class="user-input-container">
            <!-- <label for="email">Email Address</label> -->
            <input type="text" id="email" name="email" placeholder="Email Address" class="user-input">
          </div>

          <div class="user-input-container">
            <!-- <label for="name">Name</label> -->
            <input type="text" id="name" name="name" placeholder="Name" class="user-input">
          </div>

          <div class="user-input-container">
            <!-- <label for="pass">Password</label> -->
            <input type="password" id="password" name="password" minlength="8" placeholder="Password"
              class="user-input password-input" required>
            <span id="togglePassword"><i class="material-icons md-36">visibility</i></span>
          </div>

          <div class="user-input-container">
            <!-- <label for="confirm-pass">Confirm Password</label> -->
            <input type="password" id="confirmPass" name="confirm-pass" minlength="8" placeholder="Confirm Password"
              class="user-input password-input" required>
            <span id="togglePasswordConfirm"><i class="material-icons md-36">visibility</i></span>
          </div>
        </form>

        <div class="disclaimer-container">
          <p class="small-text">By signing up, you confirm that you accept our</p>
          <p class="small-text"><a href="https://createbase.co.nz/terms-and-conditions" class="quick-link">Terms and
              Conditions</a> and <a href="https://createbase.co.nz/privacy-policy" class="quick-link">Privacy Policy</a>
          </p>
        </div>

        <div class="user-input-container">
          <button id="signUp" class="user-input main-cta cta-button" onclick="signup.submit();">Sign up</button>
        </div>
        <div class="user-input-container">
          <button id="login" class="user-input secondary-cta cta-button">Log in</button>
        </div>
      </div>

      <div class="login-container inactive">
        <div class="title-container">
          <button id="login-back-btn" class="back-btn"><i class="material-icons md-36">arrow_back_ios</i></button>
          <h2>Start creating</h2>
        </div>
        <form action="post">
          <div class="user-input-container">
            <!-- <label for="email">Email Address</label> -->
            <input type="text" id="loginemail" name="email" placeholder="Email Address" class="user-input">
          </div>

          <div class="user-input-container">
            <!-- <label for="pass">Password</label> -->
            <input type="password" id="login-password" name="login-password" minlength="8" placeholder="Password"
              class="user-input password-input" required>
            <span id="toggleLoginPassword"><i class="material-icons md-36">visibility</i></span>
          </div>
        </form>

        <div class="user-input-container">
          <button id="login" class="user-input main-cta cta-button">Log in</button>
        </div>
        <div class="login-settings-container left-input-container">
          <div class="remember-check-container">
            <label class="checkbox path">
              <input type="checkbox" id="remember-checkbox">
              <svg viewBox="0 0 21 21">
                <path
                  d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                </path>
              </svg>
            </label>
            <p class="nonactive-p" id="remember-text">Remember Me</p>
          </div>

          <div class="forgot-password-container">
            <button class="forgot-pass-btn">Forgot Password?</button>
          </div>
        </div>
      </div>

      <div class="recover-container left-input-container inactive">
        <div class="title-container">
          <button id="recover-back-btn" class="back-btn"><i class="material-icons md-36">arrow_back_ios</i></button>
          <h2>Recover Password</h2>
        </div>
        <form action="post">
          <div class="user-input-container">
            <input type="text" id="recover-email" name="recover-email" placeholder="Email Address" class="user-input">
          </div>
        </form>

        <div class="user-input-container">
          <button id="recover-pass-btn" class="user-input main-cta cta-button">Email recovery link</button>
        </div>

        <div class="recover-msg-container">
          <p></p>
        </div>
      </div>
    </div>

    <div class="demo">
      <div class="demo-img">
        <img src="..\public\images\home\demo.png" alt="demo">
        <div class="stats-hover">
          <div class="stat-item first-stat">
            <img src="..\public\images\home\stat-red.png" alt="stat">
          </div>
          <div class="stat-item second-stat">
            <img src="..\public\images\home\stat-green.png" alt="stat">
          </div>
          <div class="stat-item third-stat">
            <img src="..\public\images\home\stat-blue.png" alt="stat">
          </div>
        </div>
        <div class="card-hover">
          <img src="..\public\images\home\card.png" alt="card">
        </div>
      </div>
      <div class="tagline-container">
        <p class="tagline">The skills of tomorrow are within your reach</p>
      </div>
    </div>
  </div>

  <div class="background">
    <div class="wave topleft bg-item">
      <img src="..\public\images\home\squiggle-thin.svg" alt="squiggle">
    </div>
    <div class="wave botright bg-item">
      <img src="..\public\images\home\squiggle.svg" alt="squiggle">
    </div>
    <div class="bg-circle bg-item"></div>
    <div class="box-grid bg-item">
      <img src="..\public\images\home\box-grid.svg" alt="box-grid">
    </div>
    <div class="bg-triangle bg-item">
      <img src="..\public\images\home\triangle.svg" alt="triangle">
    </div>
    <div class="bg-triangle-outline bg-item">
      <img src="..\public\images\home\triangle-outline.svg" alt="triangle">
    </div>
    <div class="box-grid-sml bg-item">
      <img src="..\public\images\home\box-grid-sml.svg" alt="box-grid">
    </div>
    <p class="copyright-text bg-item">&#169; CreateBase 2021</p>
  </div>

  <!-- ==========================JS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <script async src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- ------------------------CUSTOM------------------------ -->
  <!-- <script async src="/public/javascripts/nav.min.js"></script> -->
  <!-- <script async src="/public/javascripts/home.min.js"></script> -->
  <script async src="/public/javascripts/home.js"></script>
</body>

</html>