<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="/public/images/logo-icon.png" />
  <title id="profile-title">Inbox • App</title>
  <meta name="description"
    content="Welcome back, Creator. See your recent projects or get started on a recommend project. Browse all projects. Shop the latest range of kits. &#169; 2020 CreateBase.">
  <!-- =========================CSS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <!-- ------------------------CUSTOM------------------------ -->
  <link rel="stylesheet" href="/public/stylesheets/nav.min.css" />
  <link rel="stylesheet" href="/public/stylesheets/inbox.min.css" />
</head>

<body onload="">

  <nav>
    <a href="/dashboard" class="website">
      <img src="/public/images/logo-white.svg" class="website-logo" alt="CreateBase">
    </a>
    <div class="nav-menu">
      <a href="/dashboard"><i class="material-icons-outlined md-36 md-light">dashboard</i></a>
      <a href="/projects"><i class="material-icons-outlined md-36 md-light">games</i></a>
      <!-- <a href="/orders"><i class="material-icons-outlined md-36 md-light">local_shipping</i></a> -->
      <a href="/settings"><i class="material-icons-outlined md-36 md-light">settings</i></a>
      <a href="/inbox" class="active-tab"><i class="material-icons md-36 md-light">notifications</i></a>
    </div>
    <a href="/logout" class="logout"><i class="material-icons-outlined md-36 md-light">logout</i></a>
  </nav>

  <div class="main-page">
    <div class="wrap">
      <div class="left-column">
        <div class="header-container">
          <h1>Inbox</h1>
          <div class="notif-btn-container">
            <label for="filter-medium" class="opt switch-opt">
              <input type="checkbox" id="filter-medium">
              <span title="Medium">Notifications</span>
              <div class="switch-custom"></div>
            </label>
          </div>
        </div>
        <div class="ui-container">
          <div class="inbox-list-container scrollable">
    
            <div class="notif-wrap">
              <div class="date-group">
                <p>Today</p>
              </div>
              <div class="single-notif-container">
                <div class="notif-dp">
                  <img src="..\public\images\logo.svg" alt="dp">
                </div>
                <div class="notif-content-container">
                  <div class="notif-title-container">
                    <div class="notif-title">
                      Lorem ipsum dolor
                    </div>
                    <div class="notif-origin-date">
                      <p class="date-text">
                        10:01pm
                      </p>
                    </div>
                  </div>
                  <div class="contents-container">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce risus arcu, porttitor ut ipsum a, vulputate ullamcorper justo. Nullam gravida vestibulum leo quis sagittis. Sed hendrerit id odio in luctus. 
                  </div>
                </div>
              </div>
            </div>

            <div class="notif-wrap">
              <div class="date-group">
                <p>Today</p>
              </div>
              <div class="single-notif-container">
                <div class="notif-dp">
                  <img src="..\public\images\logo.svg" alt="dp">
                </div>
                <div class="notif-content-container">
                  <div class="notif-title-container">
                    <div class="notif-title">
                      Lorem ipsum dolor
                    </div>
                    <div class="notif-origin-date">
                      <p class="date-text">
                        10:01pm
                      </p>
                    </div>
                  </div>
                  <div class="contents-container">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce risus arcu, porttitor ut ipsum a, vulputate ullamcorper justo. Nullam gravida vestibulum leo quis sagittis. Sed hendrerit id odio in luctus. 
                  </div>
                </div>
              </div>
              <div class="single-notif-container">
                <div class="notif-dp">
                  <img src="..\public\images\logo.svg" alt="dp">
                </div>
                <div class="notif-content-container">
                  <div class="notif-title-container">
                    <div class="notif-title">
                      Lorem ipsum dolor
                    </div>
                    <div class="notif-origin-date">
                      <p class="date-text">
                        10:01pm
                      </p>
                    </div>
                  </div>
                  <div class="contents-container">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce risus arcu, porttitor ut ipsum a, vulputate ullamcorper justo. Nullam gravida vestibulum leo quis sagittis. Sed hendrerit id odio in luctus. 
                  </div>
                </div>
              </div>
              <div class="single-notif-container">
                <div class="notif-dp">
                  <img src="..\public\images\logo.svg" alt="dp">
                </div>
                <div class="notif-content-container">
                  <div class="notif-title-container">
                    <div class="notif-title">
                      Lorem ipsum dolor
                    </div>
                    <div class="notif-origin-date">
                      <p class="date-text">
                        10:01pm
                      </p>
                    </div>
                  </div>
                  <div class="contents-container">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce risus arcu, porttitor ut ipsum a, vulputate ullamcorper justo. Nullam gravida vestibulum leo quis sagittis. Sed hendrerit id odio in luctus. 
                  </div>
                </div>
              </div>
            </div>
            <div class="notif-wrap">
              <div class="date-group">
                <p>Today</p>
              </div>
              <div class="single-notif-container">
                <div class="notif-dp">
                  <img src="..\public\images\logo.svg" alt="dp">
                </div>
                <div class="notif-content-container">
                  <div class="notif-title-container">
                    <div class="notif-title">
                      Lorem ipsum dolor
                    </div>
                    <div class="notif-origin-date">
                      <p class="date-text">
                        10:01pm
                      </p>
                    </div>
                  </div>
                  <div class="contents-container">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce risus arcu, porttitor ut ipsum a, vulputate ullamcorper justo. Nullam gravida vestibulum leo quis sagittis. Sed hendrerit id odio in luctus. 
                  </div>
                </div>
              </div>
              <div class="single-notif-container">
                <div class="notif-dp">
                  <img src="..\public\images\logo.svg" alt="dp">
                </div>
                <div class="notif-content-container">
                  <div class="notif-title-container">
                    <div class="notif-title">
                      Lorem ipsum dolor
                    </div>
                    <div class="notif-origin-date">
                      <p class="date-text">
                        10:01pm
                      </p>
                    </div>
                  </div>
                  <div class="contents-container">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce risus arcu, porttitor ut ipsum a, vulputate ullamcorper justo. Nullam gravida vestibulum leo quis sagittis. Sed hendrerit id odio in luctus. 
                  </div>
                </div>
              </div>
              <div class="single-notif-container">
                <div class="notif-dp">
                  <img src="..\public\images\logo.svg" alt="dp">
                </div>
                <div class="notif-content-container">
                  <div class="notif-title-container">
                    <div class="notif-title">
                      Lorem ipsum dolor
                    </div>
                    <div class="notif-origin-date">
                      <p class="date-text">
                        10:01pm
                      </p>
                    </div>
                  </div>
                  <div class="contents-container">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce risus arcu, porttitor ut ipsum a, vulputate ullamcorper justo. Nullam gravida vestibulum leo quis sagittis. Sed hendrerit id odio in luctus. 
                  </div>
                </div>
              </div>
            </div>
    
          </div>
        </div>
      </div>
      <div class="right-column">
        <div class="inbox-detail-container scrollable">
            <div class="detail-container">
              <div class="trash-btn-container">
                <button id="remove-notif" class="trash"><i class="material-icons md-36">delete_outline</i></button>
              </div>
              <div class="detail-header">
                <div class="detail-dp">
                  <img src="..\public\images\logo.svg" alt="dp">
                </div>
                <div class="detail-notif-title-container">
                  <div class="detail-notif-title">
                    <p class="detail-title-p">
                      Lorem ipsum dolor
                    </p>
                  </div>
                  <div class="detail-notif-origin-date">
                    <p class="detail-date-text">
                      10:01pm
                    </p>
                  </div>
                </div>
              </div>
              <div class="divider"></div>
              <div class="detail-content-container scrollable">
                <div class="detail-contents-container scrollable">
                  <p class="detail-content-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce risus arcu, porttitor ut ipsum a, vulputate ullamcorper justo. Nullam gravida vestibulum leo quis sagittis. Sed hendrerit id odio in luctus. 
                  </p>
                  <p class="detail-content-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce risus arcu, porttitor ut ipsum a, vulputate ullamcorper justo. Nullam gravida vestibulum leo quis sagittis. Sed hendrerit id odio in luctus. 
                  </p>
                  <p class="detail-content-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce risus arcu, porttitor ut ipsum a, vulputate ullamcorper justo. Nullam gravida vestibulum leo quis sagittis. Sed hendrerit id odio in luctus. 
                  </p>
                  <p class="detail-content-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce risus arcu, porttitor ut ipsum a, vulputate ullamcorper justo. Nullam gravida vestibulum leo quis sagittis. Sed hendrerit id odio in luctus. 
                  </p>
                  <p class="detail-content-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce risus arcu, porttitor ut ipsum a, vulputate ullamcorper justo. Nullam gravida vestibulum leo quis sagittis. Sed hendrerit id odio in luctus. 
                  </p>
                </div>
                <div class="action-btn-container">
                  <button class="action-btn">Click Button</button>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
  
  <!-- ==========================JS========================== -->
  <!-- -----------------------SOURCED------------------------ -->

  <!-- ------------------------CUSTOM------------------------ -->
  <!-- <script async src="/public/javascripts/nav.min.js"></script>
  <script async src="/public/javascripts/inbox.min.js"></script> -->
</body>

</html>