<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="/public/images/logo-icon.png" />
  <title id="profile-title">Projects • App</title>
  <meta name="description"
    content="Welcome back, Creator. See your recent projects or get started on a recommend project. Browse all projects. Shop the latest range of kits. &#169; 2020 CreateBase.">
  <!-- =========================CSS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <!-- ------------------------CUSTOM------------------------ -->
  <link rel="stylesheet" href="/public/stylesheets/nav.min.css" />
  <link rel="stylesheet" href="/public/stylesheets/projects.min.css" />
</head>

<body onload="">

  <nav>
    <a href="https://createbase.co.nz" class="website">
      <img src="/public/images/logo-white.svg" class="website-logo" alt="CreateBase">
    </a>
    <div class="nav-menu">
      <a href="/dashboard"><i class="material-icons-outlined md-36 md-light">dashboard</i></a>
      <a href="/projects" class="active-tab"><i class="material-icons md-36 md-light">games</i></a>
      <a href="/orders"><i class="material-icons-outlined md-36 md-light">local_shipping</i></a>
      <a href="/settings"><i class="material-icons-outlined md-36 md-light">admin_panel_settings</i></a>
      <a href="/inbox"><i class="material-icons-outlined md-36 md-light">notifications</i></a>
    </div>
    <a href="/" class="logout"><i class="material-icons-outlined md-36 md-light">logout</i></a>
  </nav>

  <div class="main-page">
    <div class="header-container">
      <h1>Projects</h1>
    </div>
    <div class="ui-container">
      <div class="fields-container">
        <input type="text" id="search-bar" class="field" onkeyup="search()" placeholder=" ">
        <div class="search-placeholder">
          <i class="material-icons-round md-18">search</i>
          <span>Search</span>
        </div>
        <div class="sort-filter-btn-container">
          <div id="sort-filter-btn" class="field">
            <i class="material-icons-round md-18">sort</i>
            <div class="sort-select">Default</div>
            <i class="material-icons-round md-18">filter_alt</i>
            <div class="filter-select">2</div>
            <i class="material-icons-round md-18">tune</i>
            <div class="view-select">All</div>
          </div>
        </div>
        <button id="sort-filter-menu" class="hide sort-filter-menu field">
          <div class="sort-filter-column">
            <div class="sort-filter-header">Sort by</div>
            <label for="sort-default" class="opt radio-opt">
              <input type="radio" id="sort-default" name="sort" value="default" checked="checked">
              <span title="Default">Default</span>
              <div class="radio-custom"></div>
            </label>
            <label for="sort-alph" class="opt radio-opt">
              <input type="radio" id="sort-alph" name="sort" value="alph">
              <span title="A to Z">A to Z</span>
              <div class="radio-custom"></div>
            </label>
            <label for="sort-alph-rev" class="opt radio-opt">
              <input type="radio" id="sort-alph-rev" name="sort" value="alph-rev">
              <span title="Z to A">Z to A</span>
              <div class="radio-custom"></div>
            </label>
            <label for="sort-per-up" class="opt radio-opt">
              <input type="radio" id="sort-per-up" name="sort" value="per-up">
              <span title="Highest %">Highest %</span>
              <div class="radio-custom"></div>
            </label>
            <label for="sort-per-down" class="opt radio-opt">
              <input type="radio" id="sort-per-down" name="sort" value="per-down">
              <span title="Lowest %">Lowest %</span>
              <div class="radio-custom"></div>
            </label>
          </div>
          <div class="sort-filter-column">
            <div class="sort-filter-header">Filter</div>
            <label class="opt switch-opt">
              <input type="checkbox">
              <span title="Easy">Easy</span>
              <div class="switch-custom"></div>
            </label>
            <label class="opt switch-opt">
              <input type="checkbox">
              <span title="Medium">Medium</span>
              <div class="switch-custom"></div>
            </label>
            <label class="opt switch-opt">
              <input type="checkbox">
              <span title="Hard">Hard</span>
              <div class="switch-custom"></div>
            </label>
            <label class="opt switch-opt">
              <input type="checkbox">
              <span title="Robotics">Robotics</span>
              <div class="switch-custom"></div>
            </label>
            <label class="opt switch-opt">
              <input type="checkbox">
              <span title="AI">AI</span>
              <div class="switch-custom"></div>
            </label>
            <label class="opt switch-opt">
              <input type="checkbox">
              <span title="Vehicles">Vehicles</span>
              <div class="switch-custom"></div>
            </label>
          </div>
          <div class="sort-filter-column">
            <div class="sort-filter-header">View</div>
            <label for="view-in-progress" class="opt radio-opt">
              <input type="radio" id="view-in-progress" name="view" value="in-progress">
              <span title="In progress">In progress</span>
              <div class="radio-custom"></div>
            </label>
            <label for="view-new" class="opt radio-opt">
              <input type="radio" id="view-new" name="view" value="new">
              <span title="New">New</span>
              <div class="radio-custom"></div>
            </label>
            <label for="view-completed" class="opt radio-opt">
              <input type="radio" id="view-completed" name="view" value="completed">
              <span title="Completed">Completed</span>
              <div class="radio-custom"></div>
            </label>
            <label for="view-all" class="opt radio-opt">
              <input type="radio" id="view-all" name="view" value="all" checked="checked">
              <span title="All">All</span>
              <div class="radio-custom"></div>
            </label>
          </div>
        </button>
      </div>
      <div class="projects-container">


      </div>
      <div class="pages-container">

      </div>
    </div>
  </div>

  </div>
  <!-- ==========================JS========================== -->
  <!-- -----------------------SOURCED------------------------ -->

  <!-- ------------------------CUSTOM------------------------ -->
  <!-- <script async src="/public/javascripts/nav.min.js"></script> -->
  <script async src="/public/javascripts/projects.min.js"></script>
</body>

</html>