<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="/public/images/logo-icon.png" />
  <title id="profile-title">Projects • App</title>
  <meta name="description"
    content="Welcome back, Creator. See your recent projects or get started on a recommend project. Browse all projects. Shop the latest range of kits. &#169; 2020 CreateBase.">
  <!-- =========================CSS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <!-- ------------------------CUSTOM------------------------ -->
  <link rel="stylesheet" href="/public/stylesheets/nav.min.css" />
  <link rel="stylesheet" href="/public/stylesheets/projects.min.css" />
</head>

<body onload="global.initialise();">

  <nav>
    <a href="/dashboard" class="website desktop-el">
      <img src="/public/images/logo-white.svg" class="website-logo" alt="CreateBase">
    </a>
    <div class="nav-menu">
      <a href="/dashboard" class="nav-menu-tab dashboard-tab">
        <i class="material-icons-round md-18 md-light mobile-el">dashboard</i>
        <i class="material-icons-round md-36 desktop-el">dashboard</i>
        <i class="material-icons-outlined md-36 md-light desktop-el">dashboard</i>
      </a>
      <a href="/projects" class="nav-menu-tab projects-tab">
        <i class="material-icons-round md-18 md-light mobile-el">games</i>
        <i class="material-icons-round md-36 desktop-el">games</i>
        <i class="material-icons-outlined md-36 md-light desktop-el">games</i>
      </a>
      <a href="/settings" class="nav-menu-tab settings-tab desktop-el">
        <i class="material-icons-round md-36 desktop-el">settings</i>
        <i class="material-icons-outlined md-36 md-light desktop-el">settings</i>
      </a>
      <a href="/inbox" class="nav-menu-tab inbox-tab">
        <i class="material-icons-round md-18 md-light mobile-el">notifications</i>
        <i class="material-icons-round md-36 desktop-el">notifications</i>
        <i class="material-icons-outlined md-36 md-light desktop-el">notifications</i>
      </a>
    </div>
    <label for="more-menu-btn" class="more-tab mobile-el">
      <input type="checkbox" id="more-menu-btn">
      <i class="material-icons-outlined md-18 md-light">more_vert</i>
    </label>
    <a href="/logout" class="logout desktop-el"><i class="material-icons-outlined md-36 md-light">logout</i></a>
  </nav>

  <div class="nav-more-menu mobile-el hide">
    <div class="header-container">
      <img src="/public/images/logo-full-white.png" alt="CreateBase">
      <i class="material-icons-round md-18 md-light nav-more-close">close</i>
    </div>
    <div class="more-menu-container">
      <a href="https://www.facebook.com/" target="_blank" class="more-shop">
        <i class="material-icons-round md-18">local_mall</i>
        <span>Shop</span>
      </a>
      <a href="https://createbase.co.nz" target="_blank" class="more-info">
        <i class="material-icons-round md-18">language</i>
        <span>Info</span>
      </a>
      <a href="https://www.treatstock.com/c/createbase" target="_blank" class="more-3d-printing">
        <i class="material-icons-round md-18">hvac</i>
        <span>3d Printing</span>
      </a>
      <a href="/settings" class="more-settings">
        <i class="material-icons-round md-18">settings</i>
        <span>Settings</span>
      </a>
      <a href="/logout" class="more-logout">
        <i class="material-icons-round md-18">logout</i>
        <span>Logout</span>
      </a>
    </div>
  </div>

  <div class="main-page">
    <div class="header-container">
      <h1>Projects</h1>
    </div>
    <div class="ui-container">
      <div class="fields-container">
        <input type="text" id="search-bar" class="field" onkeyup="search()" placeholder=" ">
        <div class="search-placeholder">
          <i class="material-icons-round md-18">search</i>
          <span>Search</span>
        </div>
        <div class="sort-filter-btn-container">
          <div id="sort-filter-btn" class="field">
            <i class="material-icons-round md-18">sort</i>
            <div class="sort-select">Default</div>
            <i class="material-icons-round md-18">filter_alt</i>
            <div class="filter-select">2</div>
            <i class="material-icons-round md-18">tune</i>
            <div class="view-select">All</div>
          </div>
        </div>
        <button id="sort-filter-menu" class="hide sort-filter-menu field">
          <div id="sort-column" class="sort-filter-column">
            <div class="sort-filter-header">Sort by</div>
            <label for="sort-default" class="opt radio-opt blue-opt">
              <input type="radio" id="sort-default" name="sort" value="default" checked="checked">
              <span title="Default">Default</span>
              <div class="radio-custom"></div>
            </label>
            <label for="sort-alph" class="opt radio-opt blue-opt">
              <input type="radio" id="sort-alph" name="sort" value="alph">
              <span title="A to Z">A to Z</span>
              <div class="radio-custom"></div>
            </label>
            <label for="sort-alph-rev" class="opt radio-opt blue-opt">
              <input type="radio" id="sort-alph-rev" name="sort" value="alph-rev">
              <span title="Z to A">Z to A</span>
              <div class="radio-custom"></div>
            </label>
            <label for="sort-per-up" class="opt radio-opt blue-opt">
              <input type="radio" id="sort-per-up" name="sort" value="per-up">
              <span title="Highest %">Highest %</span>
              <div class="radio-custom"></div>
            </label>
            <label for="sort-per-down" class="opt radio-opt blue-opt">
              <input type="radio" id="sort-per-down" name="sort" value="per-down">
              <span title="Lowest %">Lowest %</span>
              <div class="radio-custom"></div>
            </label>
          </div>
          <div id="filter-column" class="sort-filter-column">
            <div class="sort-filter-header">Filter</div>
            <label for="filter-easy" class="opt switch-opt blue-opt">
              <input type="checkbox" id="filter-easy" checked="checked">
              <span title="Easy">Easy</span>
              <div class="switch-custom"></div>
            </label>
            <label for="filter-medium" class="opt switch-opt blue-opt">
              <input type="checkbox" id="filter-medium">
              <span title="Medium">Medium</span>
              <div class="switch-custom"></div>
            </label>
            <label for="filter-hard" class="opt switch-opt blue-opt">
              <input type="checkbox" id="filter-hard">
              <span title="Hard">Hard</span>
              <div class="switch-custom"></div>
            </label>
            <label for="filter-robotics" class="opt switch-opt blue-opt">
              <input type="checkbox" id="filter-robotics" checked="checked">
              <span title="Robotics">Robotics</span>
              <div class="switch-custom"></div>
            </label>
            <label for="filter-ai" class="opt switch-opt blue-opt">
              <input type="checkbox" id="filter-ai">
              <span title="AI">AI</span>
              <div class="switch-custom"></div>
            </label>
            <label for="filter-vehicles" class="opt switch-opt blue-opt">
              <input type="checkbox" id="filter-vehicles">
              <span title="Vehicles">Vehicles</span>
              <div class="switch-custom"></div>
            </label>
          </div>
          <div id="view-column" class="sort-filter-column">
            <div class="sort-filter-header">View</div>
            <label for="view-ongoing" class="opt radio-opt blue-opt">
              <input type="radio" id="view-ongoing" name="view" value="ongoing">
              <span title="In progress">In progress</span>
              <div class="radio-custom"></div>
            </label>
            <label for="view-new" class="opt radio-opt blue-opt">
              <input type="radio" id="view-new" name="view" value="new">
              <span title="New">New</span>
              <div class="radio-custom"></div>
            </label>
            <label for="view-completed" class="opt radio-opt blue-opt">
              <input type="radio" id="view-completed" name="view" value="completed">
              <span title="Completed">Completed</span>
              <div class="radio-custom"></div>
            </label>
            <label for="view-all" class="opt radio-opt blue-opt">
              <input type="radio" id="view-all" name="view" value="all" checked="checked">
              <span title="All">All</span>
              <div class="radio-custom"></div>
            </label>
          </div>
        </button>
      </div>
      <div class="projects-container scrollable">
        
      </div>
    </div>
  </div>

  <div class="darken-overlay hide"></div>

  <!-- ==========================JS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <script async src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- ------------------------CUSTOM------------------------ -->
  <!-- <script async src="/public/javascripts/nav.min.js"></script> -->
  <script async src="/public/javascripts/global.js"></script>
  <script async src="/public/javascripts/projects.js"></script>
</body>

</html>