<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="/public/images/logo-icon.png" />
  <title id="profile-title">Settings • App</title>
  <meta name="description"
    content="Welcome back, Creator. See your recent projects or get started on a recommend project. Browse all projects. Shop the latest range of kits. &#169; 2020 CreateBase.">
  <!-- =========================CSS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <!-- ------------------------CUSTOM------------------------ -->
  <link rel="stylesheet" href="/public/stylesheets/nav.min.css" />
  <link rel="stylesheet" href="/public/stylesheets/settings.min.css" />
</head>

<body onload="settings.initialise();">

  <nav>
    <a href="/dashboard" class="website">
      <img src="/public/images/logo-white.svg" class="website-logo" alt="CreateBase">
    </a>
    <div class="nav-menu">
      <a href="/dashboard"><i class="material-icons-outlined md-36 md-light">dashboard</i></a>
      <a href="/projects"><i class="material-icons-outlined md-36 md-light">games</i></a>
      <!-- <a href="/orders"><i class="material-icons-outlined md-36 md-light">local_shipping</i></a> -->
      <a href="/settings" class="active-tab"><i class="material-icons md-36 md-light">settings</i></a>
      <a href="/inbox" class="inbox-tab"><i class="material-icons-outlined md-36 md-light">notifications</i></a>
    </div>
    <a href="/logout" class="logout"><i class="material-icons-outlined md-36 md-light">logout</i></a>
  </nav>

  <div class="main-page">
    <div class="header-container">
      <h1>Settings</h1>
    </div>

    <div class="ui-container scrollable">

      <div class="de-container">
        <button class="deactivate-btn">
          <i class="material-icons-round">block</i>
          <span>Deactivate account</span>
        </button>
        <button class="delete-btn">
          <i class="material-icons-round">person_off</i>
          <span>Delete account</span>
        </button>
      </div>

      <div class="section profile-container">
        <h3 class="edit-btn"><i class="material-icons-round">edit</i></h3>
        <div class="panel-left">
          <i class="material-icons-round md-24">public</i>
          <h2>Profile</h2>
        </div>
        <div class="panel-right">
          <img src="/public/images/dp-example.jpg" class="avatar" alt="Avatar">
          <div class="input-container">
            <h3>Display Name</h3>
            <input type="text" id="prof-name" placeholder="-">
          </div>
          <div class="input-container">
            <h3>Display Email</h3>
            <input type="text" id="prof-email" placeholder="-">
          </div>
          <div class="badges-container">
          </div>
          <div class="input-container">
            <h3>Location</h3>
            <input type="text" id="prof-loc" placeholder="-">
          </div>


          <div class="btn-container">
            <button class="cancel-btn"></button>
            <button class="save-btn" onclick="settings.saveProfile();"><i class="material-icons-round md-18">check</i></button>
          </div>
        </div>
      </div>
      <!-- <div class="section bill-container">
        <h3 class="edit-btn"><i class="material-icons-round">edit</i></h3>
        <div class="panel-left">
          <i class="material-icons-round md-24">payment</i> 
          <h2>Billing info</h2>
        </div>
        <div class="panel-right">
          <div class="input-container">
            <h3>Card number</h3>
            <input type="text" id="card-num" placeholder="-">
          </div>
          <div class="input-container">
            <h3>Card holder name</h3>
            <input type="text" id="card-name" placeholder="-">
          </div>
          <div class="input-container">
            <label for="paypal" class="opt switch-opt green-opt">
              <input type="checkbox" id="paypal" checked="checked">
              <div class="icon-container paypal"><i class="fab fa-paypal"></i></div>
              <div class="switch-custom"></div>
            </label>
          </div>
          <div class="input-container">
            <h3>Expiration date</h3>
            <input type="text" id="card-exp" placeholder="-">
          </div>
          <div class="input-container">
            <h3>CVV</h3>
            <input type="text" id="card-cvv" placeholder="-">
          </div>
          <div class="input-container">
            <label for="paypal" class="opt switch-opt green-opt">
              <input type="checkbox" id="paypal" checked="checked">
              <div class="icon-container stripe"><i class="fab fa-stripe"></i></div>
              <div class="switch-custom"></div>
            </label>
          </div>
        </div>
      </div> -->
      <div class="section acc-container">
        <h3 class="edit-btn"><i class="material-icons-round">edit</i></h3>
        <div class="panel-left">
          <i class="material-icons-round md-24">person</i>
          <h2>Account</h2>
        </div>
        <div class="panel-right">
          <div class="input-container">
            <h3>Name</h3>
            <input type="text" id="acc-name" placeholder="-">
          </div>
          <div class="input-container">
            <h3>Street address</h3>
            <input type="text" id="acc-street" placeholder="-">
          </div>
          <div class="input-container">
            <h3>Unit</h3>
            <input type="text" id="acc-unit" placeholder="-">
          </div>
          <div class="input-container">
            <h3>Email</h3>
            <input type="text" id="acc-email" placeholder="-">
          </div>
          <div class="input-container">
            <h3>Town / city</h3>
            <input type="text" id="acc-city" placeholder="-">
          </div>
          <div class="input-container">
            <h3>State</h3>
            <input type="text" id="acc-state" placeholder="-">
          </div>
          <div class="input-container pass-container">
            <h3>Password</h3>
            <input autocomplete="new-password" type="password" id="acc-pass" placeholder="-">
            <div class="vis-icon"><i id="acc-pass-vis" class="material-icons-round md-18">visibility</i></div>
          </div>
          <div class="input-container">
            <h3>Zip code</h3>
            <input type="text" id="acc-zip" placeholder="-">
          </div>
          <div class="input-container">
            <h3>Country</h3>
            <input type="text" id="acc-country" placeholder="-">
          </div>
          <div class="input-container pass-container pass-conf-container">
            <h3>Confirm Password</h3>
            <input autocomplete="new-password" type="password" id="acc-pass-conf" placeholder="-">
            <div class="vis-icon"><i id="acc-pass-conf-vis" class="material-icons-round md-18">visibility</i></div>
          </div>
          <div class="btn-container">
            <button class="cancel-btn"></button>
            <button class="save-btn" onclick="settings.saveAccount();"><i class="material-icons-round md-18">check</i></button>
          </div>
        </div>
      </div>
      <div class="section notifs-container">
        <h3 class="edit-btn"><i class="material-icons-round">edit</i></h3>
        <div class="panel-left">
          <i class="material-icons-round md-24">notifications</i>
          <h2>Notifications</h2>
        </div>
        <div class="panel-right">
          <div class="input-container">
            <h3>Mailing List</h3>
            <label for="mail" class="opt switch-opt orange-opt">
              <input type="checkbox" id="mail" checked="checked">
              <span>Subscribed</span>
              <div class="switch-custom"></div>
            </label>
          </div>
          <div class="btn-container">
            <button class="cancel-btn"></button>
            <button class="save-btn"><i class="material-icons-round md-18">check</i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="darken-overlay hide"></div>

  <div class="badge-edit-screen hide">

    <div class="badge-edit-window">
      <div class="badge-menu scrollable">
        <div class="drag-tooltip">Drag to reorder</div>
      </div>

      <div class="badge-info scrollable">
        <div class="badge-details trophy-details badge-achieved">
          <div class="badge badge-showcase trophy">
            <img src="/public/images/badges/trophy.png" alt="">
          </div>
          <div class="badge-name">Beta Cup Champ Winter 2021</div>
          <div class="badge-status"><i class="material-icons-outlined">done_outline</i><span>31 july 2021</span></div>
          <div class="badge-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean
            dui ipsum, malesuada eu ipsum non, interdum varius odio.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean dui ipsum, malesuada eu
            ipsum non, interdum varius odio.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean dui ipsum, malesuada eu
            ipsum non, interdum varius odio.
          </div>
        </div>
        <div class="badge-details medal-details">
          <div class="badge badge-showcase medal">
            <img src="/public/images/badges/medal.png" alt="">
          </div>
          <div class="badge-name">Medal</div>
          <div class="badge-status"><i class="material-icons-outlined">done_outline</i>31 july 2021</div>
          <div class="badge-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean
            dui ipsum, malesuada eu ipsum non, interdum varius odio.
          </div>
        </div>
        <div class="badge-details console-details">
          <div class="badge badge-showcase console">
            <img src="/public/images/badges/console.png" alt="">
          </div>
          <div class="badge-name">Console</div>
          <div class="badge-status"><i class="material-icons-outlined">done_outline</i>31 july 2021</div>
          <div class="badge-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean
            dui ipsum, malesuada eu ipsum non, interdum varius odio.
          </div>
        </div>
        <div class="badge-details loyal-details">
          <div class="badge badge-showcase loyal">
            <img src="/public/images/badges/loyal.png" alt="">
          </div>
          <div class="badge-name">Loyal</div>
          <div class="badge-status"><i class="material-icons-outlined">done_outline</i>31 july 2021</div>
          <div class="badge-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean
            dui ipsum, malesuada eu ipsum non, interdum varius odio.
          </div>
        </div>
        <div class="badge-details grad-details">
          <div class="badge badge-showcase grad">
            <img src="/public/images/badges/grad.png" alt="">
          </div>
          <div class="badge-name">Graduation</div>
          <div class="badge-status"><i class="material-icons-outlined">done_outline</i>31 july 2021</div>
          <div class="badge-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean
            dui ipsum, malesuada eu ipsum non, interdum varius odio.
          </div>
        </div>
        <div class="badge-details love-details">
          <div class="badge badge-showcase love">
            <img src="/public/images/badges/love.png" alt="">
          </div>
          <div class="badge-name">Love</div>
          <div class="badge-status"><i class="material-icons-outlined">done_outline</i>31 july 2021</div>
          <div class="badge-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean
            dui ipsum, malesuada eu ipsum non, interdum varius odio.
          </div>
        </div>
        <div class="badge-details medal-details">
          <div class="badge badge-showcase medal">
            <img src="/public/images/badges/medal.png" alt="">
          </div>
          <div class="badge-name">Medal</div>
          <div class="badge-status"><i class="material-icons-outlined">done_outline</i>31 july 2021</div>
          <div class="badge-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean
            dui ipsum, malesuada eu ipsum non, interdum varius odio.
          </div>
        </div>
        <div class="badge-details review-details">
          <div class="badge badge-showcase review">
            <img src="/public/images/badges/review.png" alt="">
          </div>
          <div class="badge-name">Review</div>
          <div class="badge-status"><i class="material-icons-outlined">done_outline</i>31 july 2021</div>
          <div class="badge-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean
            dui ipsum, malesuada eu ipsum non, interdum varius odio.
          </div>
        </div>
        <div class="badge-details tour-details">
          <div class="badge badge-showcase tour">
            <img src="/public/images/badges/tour.png" alt="">
          </div>
          <div class="badge-name">Tour</div>
          <div class="badge-status"><i class="material-icons-outlined">done_outline</i>31 july 2021</div>
          <div class="badge-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean
            dui ipsum, malesuada eu ipsum non, interdum varius odio.
          </div>
        </div>
        <div class="badge-details verified-details">
          <div class="badge badge-showcase verified">
            <img src="/public/images/badges/verified.png" alt="">
          </div>
          <div class="badge-name">Verified</div>
          <div class="badge-status"><i class="material-icons-outlined">done_outline</i>31 july 2021</div>
          <div class="badge-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean
            dui ipsum, malesuada eu ipsum non, interdum varius odio.
          </div>
        </div>
      </div>
    </div>
    <div class="badge-edit-btn">
      <div class="close-btn">
        <i class="material-icons-round close">close</i>
      </div>
      <div class="done-btn">
        <i class="material-icons-round done">check</i>
        Done
      </div>
    </div>
  </div>

  </div>
  <!-- ==========================JS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <script async src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script async src="https://kit.fontawesome.com/b382730141.js" crossorigin="anonymous"></script>
  <!-- ------------------------CUSTOM------------------------ -->
  <!-- <script async src="/public/javascripts/nav.min.js"></script> -->
  <script async src="/public/javascripts/settings.js"></script>
  <script async type="module" src="/public/javascripts/settingsm.js"></script>
</body>

</html>