<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="/public/images/logo-icon.png" />
  <title id="profile-title">Settings • App</title>
  <meta name="description"
    content="Welcome back, Creator. See your recent projects or get started on a recommend project. Browse all projects. Shop the latest range of kits. &#169; 2020 CreateBase.">
  <!-- =========================CSS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <!-- ------------------------CUSTOM------------------------ -->
  <link rel="stylesheet" href="/public/stylesheets/nav.min.css" />
  <link rel="stylesheet" href="/public/stylesheets/settings.min.css" />
</head>

<body onload="settings.init.init();" class="hide">

  <nav>
    <a href="/dashboard" class="website desktop-el">
      <img src="/public/images/logo-white.svg" class="website-logo" alt="CreateBase">
    </a>
    <div class="nav-menu">
      <a href="/dashboard" class="nav-menu-tab dashboard-tab">
        <i class="material-icons-round md-18 md-light mobile-el">dashboard</i>
        <i class="material-icons-round md-36 desktop-el">dashboard</i>
        <i class="material-icons-outlined md-36 md-light desktop-el">dashboard</i>
      </a>
      <a href="/projects" class="nav-menu-tab projects-tab">
        <i class="material-icons-round md-18 md-light mobile-el">games</i>
        <i class="material-icons-round md-36 desktop-el">games</i>
        <i class="material-icons-outlined md-36 md-light desktop-el">games</i>
      </a>
      <a href="/settings" class="nav-menu-tab settings-tab desktop-el">
        <i class="material-icons-round md-36 desktop-el">settings</i>
        <i class="material-icons-outlined md-36 md-light desktop-el">settings</i>
      </a>
      <a href="/inbox" class="nav-menu-tab inbox-tab">
        <i class="material-icons-round md-18 md-light mobile-el">notifications</i>
        <i class="material-icons-round md-36 desktop-el">notifications</i>
        <i class="material-icons-outlined md-36 md-light desktop-el">notifications</i>
      </a>
    </div>
    <label for="more-menu-btn" class="nav-menu-tab more-tab mobile-el settings-tab">
      <input type="checkbox" id="more-menu-btn">
      <i class="material-icons-outlined md-18 md-light">more_vert</i>
    </label>
    <a href="/logout" class="logout desktop-el"><i class="material-icons-outlined md-36 md-light">logout</i></a>
  </nav>

  <div class="nav-more-menu mobile-el hide">
    <div class="header-container">
      <img src="/public/images/logo-full-white.png" alt="CreateBase">
      <i class="material-icons-round md-18 md-light nav-more-close">close</i>
    </div>
    <div class="more-menu-container">
      <a href="https://www.facebook.com/" target="_blank" class="more-shop">
        <i class="material-icons-round md-18">local_mall</i>
        <span>Shop</span>
      </a>
      <a href="https://createbase.co.nz" target="_blank" class="more-info">
        <i class="material-icons-round md-18">language</i>
        <span>Info</span>
      </a>
      <a href="https://www.treatstock.com/c/createbase" target="_blank" class="more-3d-printing">
        <i class="material-icons-round md-18">hvac</i>
        <span>3d Printing</span>
      </a>
      <a href="/settings" class="more-settings">
        <i class="material-icons-round md-18">settings</i>
        <span>Settings</span>
      </a>
      <a href="/logout" class="more-logout">
        <i class="material-icons-round md-18">logout</i>
        <span>Logout</span>
      </a>
    </div>
  </div>

  <div class="main-page">
    <div class="header-container">
      <h1>Settings</h1>
    </div>

    <div class="ui-container scrollable">

      <div class="section profile-section section-container">
        <h3 class="edit-btn"><i class="material-icons-round">edit</i></h3>
        <div class="panel-left">
          <i class="material-icons-round">public</i>
          <h2>Profile</h2>
          <p>Display picture, badges, display name, display email, location</p>
        </div>
        <div class="panel-right">
          <div class="mobile-subheading">
            <button class="cancel-back back-to-main-sections"><i class="material-icons-round">arrow_back_ios</i> Cancel</button>
            <h4>Profile</h4>
          </div>
          <form action="" class="avatar-form">
            <label for="avatar-input" class="avatar-edit">
              <i class="material-icons-round">add_photo_alternate</i>
              <input type="file" id="avatar-input" name="avatar" accept=".png, .jpg, .jpeg">
            </label>
            <img src="/settings/fetch-avatar" class="avatar-preview" alt="Avatar">
          </form>
          <div class="input-container display-name-container">
            <h3>Display Name</h3>
            <input type="text" id="prof-name" placeholder="Display Name">
          </div>
          <div class="input-container">
            <h3>Display Email</h3>
            <input type="text" id="prof-email" placeholder="Display Email">
          </div>
          <div class="input-container btn-to-input badges-container">
            <i class="material-icons-round arrow">arrow_forward_ios</i>
            <i class="material-icons-round pen">edit</i>
            <span class="caption">Change badges</span>
          </div>
          <div class="input-container">
            <h3>Location</h3>
            <input type="text" id="prof-loc" placeholder="Location">
          </div>
          <div class="btn-container">
            <button class="cancel-btn profile-cancel"></button>
            <button class="save-btn profile-save"><i class="material-icons-round md-18">check</i></button>
          </div>
        </div>
      </div>
      <div class="section account-section section-container">
        <h3 class="edit-btn"><i class="material-icons-round">edit</i></h3>
        <div class="panel-left">
          <i class="material-icons-round">person</i>
          <h2>Account</h2>
          <p>Name, email, password, address</p>
        </div>
        <div class="panel-right">
          <div class="mobile-subheading">
            <button class="cancel-back back-to-main-sections"><i class="material-icons-round">arrow_back_ios</i> Cancel</button>
            <h4>Account</h4>
          </div>

          <div class="input-container email-container btn-to-input">
            <h3>Email</h3>
            <button>
              <span class="caption">Change email</span>
              <span class="current email-static"></span>
              <i class="material-icons-round arrow">arrow_forward_ios</i>
              <i class="material-icons-round pen">edit</i>
            </button>
          </div>

          <div class="input-container name-container">
            <h3>Name</h3>
            <input type="text" id="acc-name" placeholder="Name">
          </div>

          <div class="input-container pass-container btn-to-input">
            <h3>Password</h3>
            <button>
              <span class="caption">Change password</span>
              <i class="material-icons-round arrow">arrow_forward_ios</i>
              <i class="material-icons-round pen">edit</i>
            </button>
          </div>

          <div class="input-container street-container">
            <h3>Street address</h3>
            <input type="text" id="acc-street" placeholder="Street address">
          </div>
          <div class="input-container unit-container">
            <h3>Unit</h3>
            <input type="text" id="acc-unit" placeholder="Unit">
          </div>

          <div class="input-container city-container">
            <h3>Town / city</h3>
            <input type="text" id="acc-city" placeholder="Town / City">
          </div>
          <div class="input-container">
            <h3>State</h3>
            <input type="text" id="acc-state" placeholder="State">
          </div>

          <div class="input-container">
            <h3>Zip code</h3>
            <input type="text" id="acc-zip" placeholder="ZIP Code">
          </div>
          <div class="input-container">
            <h3>Country</h3>
            <input type="text" id="acc-country" placeholder="Country">
          </div>

          <div class="input-container pass-container pass-conf-container">
            <h3>Confirm Password</h3>
            <input autocomplete="new-password" type="password" id="acc-pass-conf" placeholder="">
            <div class="vis-icon"><i id="acc-pass-conf-vis" class="material-icons-round md-18">visibility</i></div>
          </div>

          <div class="btn-container">
            <button class="cancel-btn account-cancel"></button>
            <button class="save-btn account-save"><i class="material-icons-round md-18">check</i></button>
          </div>
        </div>
      </div>

      <div class="section notifications-section section-container">
        <h3 class="edit-btn"><i class="material-icons-round">edit</i></h3>
        <div class="panel-left">
          <i class="material-icons-round">notifications</i>
          <h2>Notifications</h2>
          <p>Mailing list</p>
        </div>
        <div class="panel-right">
          <div class="mobile-subheading">
            <button class="cancel-back back-to-main-sections"><i class="material-icons-round">arrow_back_ios</i> Cancel</button>
            <h4>Notifications</h4>
          </div>
          <label for="mail" class="opt switch-opt orange-opt input-container">
            <input type="checkbox" id="mail" checked="checked">
            <div class="switch-bg"></div>
            <h3>Mailing List</h3>
            <span>Subscribed</span>
            <div class="switch-custom"></div>
          </label>
          <div class="btn-container">
            <button class="cancel-btn notifications-cancel"></button>
            <button class="save-btn notifications-save"><i class="material-icons-round md-18">check</i></button>
          </div>
        </div>
      </div>

      <div class="de-container section-container">
        <button class="deactivate-btn">
          <i class="material-icons-outlined">block</i>
          <span>Deactivate account</span>
        </button>
        <button class="delete-btn">
          <i class="material-icons-outlined">person_off</i>
          <span>Delete account</span>
        </button>
      </div>
    
      <div class="edit-screen badge-edit-screen hide">
        <div class="badge-edit-window">
          <div class="badge-menu scrollable">
            <div class="screen-tooltip">Drag to reorder</div>
            <div class="badge-achieved-section">
            </div>
            <div class="badge-not-achieved-section">
            </div>
          </div>
          <div class="badge-info scrollable">
            <div class="badge-details trophy-details">
              <div class="badge badge-showcase trophy">
                <img src="/public/images/badges/trophy.png" alt="">
              </div>
              <div class="badge-name">Beta Cup Champ Winter 2021</div>
              <div class="badge-status"><i class="material-icons-outlined">done_outline</i><span><span>31 jul</span>y 2021</span></div>
              <div class="badge-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean
                dui ipsum, malesuada eu ipsum non, interdum varius odio.
    
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean dui ipsum, malesuada eu
                ipsum non, interdum varius odio.
    
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean dui ipsum, malesuada eu
                ipsum non, interdum varius odio.
              </div>
            </div>
            <div class="badge-details medal-details">
              <div class="badge badge-showcase medal">
                <img src="/public/images/badges/medal.png" alt="">
              </div>
              <div class="badge-name">Medal</div>
              <div class="badge-status"><i class="material-icons-outlined">done_outline</i><span><span>31 jul</span>y 2021</span></div>
              <div class="badge-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean
                dui ipsum, malesuada eu ipsum non, interdum varius odio.
              </div>
            </div>
            <div class="badge-details console-details">
              <div class="badge badge-showcase console">
                <img src="/public/images/badges/console.png" alt="">
              </div>
              <div class="badge-name">Console</div>
              <div class="badge-status"><i class="material-icons-outlined">done_outline</i><span>31 july 2021</span></div>
              <div class="badge-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean
                dui ipsum, malesuada eu ipsum non, interdum varius odio.
              </div>
            </div>
            <div class="badge-details loyal-details">
              <div class="badge badge-showcase loyal">
                <img src="/public/images/badges/loyal.png" alt="">
              </div>
              <div class="badge-name">Loyal</div>
              <div class="badge-status"><i class="material-icons-outlined">done_outline</i><span>31 july 2021</span></div>
              <div class="badge-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean
                dui ipsum, malesuada eu ipsum non, interdum varius odio.
              </div>
            </div>
            <div class="badge-details grad-details">
              <div class="badge badge-showcase grad">
                <img src="/public/images/badges/grad.png" alt="">
              </div>
              <div class="badge-name">Graduation</div>
              <div class="badge-status"><i class="material-icons-outlined">done_outline</i><span>31 july 2021</span></div>
              <div class="badge-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean
                dui ipsum, malesuada eu ipsum non, interdum varius odio.
              </div>
            </div>
            <div class="badge-details love-details">
              <div class="badge badge-showcase love">
                <img src="/public/images/badges/love.png" alt="">
              </div>
              <div class="badge-name">Love</div>
              <div class="badge-status"><i class="material-icons-outlined">done_outline</i><span>31 july 2021</span></div>
              <div class="badge-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean
                dui ipsum, malesuada eu ipsum non, interdum varius odio.
              </div>
            </div>
            <div class="badge-details medal-details">
              <div class="badge badge-showcase medal">
                <img src="/public/images/badges/medal.png" alt="">
              </div>
              <div class="badge-name">Medal</div>
              <div class="badge-status"><i class="material-icons-outlined">done_outline</i><span>31 july 2021</span></div>
              <div class="badge-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean
                dui ipsum, malesuada eu ipsum non, interdum varius odio.
              </div>
            </div>
            <div class="badge-details review-details">
              <div class="badge badge-showcase review">
                <img src="/public/images/badges/review.png" alt="">
              </div>
              <div class="badge-name">Review</div>
              <div class="badge-status"><i class="material-icons-outlined">done_outline</i><span>31 july 2021</span></div>
              <div class="badge-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean
                dui ipsum, malesuada eu ipsum non, interdum varius odio.
              </div>
            </div>
            <div class="badge-details tour-details">
              <div class="badge badge-showcase tour">
                <img src="/public/images/badges/tour.png" alt="">
              </div>
              <div class="badge-name">Tour</div>
              <div class="badge-status"><i class="material-icons-outlined">done_outline</i><span>31 july 2021</span></div>
              <div class="badge-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean
                dui ipsum, malesuada eu ipsum non, interdum varius odio.
              </div>
            </div>
            <div class="badge-details verified-details">
              <div class="badge badge-showcase verified">
                <img src="/public/images/badges/verified.png" alt="">
              </div>
              <div class="badge-name">Verified</div>
              <div class="badge-status"><i class="material-icons-outlined">done_outline</i><span>31 july 2021</span></div>
              <div class="badge-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor arcu ex. Aenean
                dui ipsum, malesuada eu ipsum non, interdum varius odio.
              </div>
            </div>
          </div>
          <div class="screen-close">
            <button class="cancel-back">
              <i class="material-icons-round md-12">arrow_back_ios</i>
              <span>Cancel</span>
            </button>
            <i class="material-icons-round md-24">close</i>
          </div>
        </div>
        <div class="save-btn screen-save-btn badge-config-done">
          <i class="material-icons-round done">check</i>
        </div>
      </div>

      <div class="edit-screen email-edit-screen hide on-step-one">
        <div class="step-one">
          <div class="input-container pass-container screen-window">
            <h3>Password</h3>
            <input autocomplete="new-password" type="password" id="email-pass" placeholder="">
            <div class="vis-icon"><i id="email-pass-vis" class="material-icons-round md-18">visibility</i></div>
            <div class="screen-tooltip">To verify it's you, please enter your password</div>
          </div>
          <div class="continue-btn screen-save-btn">
            <i class="material-icons-round done">arrow_forward_ios</i>
          </div>
        </div>
        <div class="step-two">
          <div class="input-container email-container screen-window">
            <h3>New Email</h3>
            <input type="text" id="acc-email" placeholder="New email">
            <div class="screen-tooltip">Enter your new email</div>
          </div>
          <div class="save-btn screen-save-btn">
            <i class="material-icons-round done">check</i>
          </div>
        </div>
        <div class="screen-close">
          <button class="cancel-back">
            <i class="material-icons-round md-12">arrow_back_ios</i>
            <span>Cancel</span>
          </button>
          <i class="material-icons-round md-24">close</i>
        </div>
      </div>

      <div class="edit-screen pass-edit-screen hide">
        <button class="cancel-back">
          <i class="material-icons-round md-12">arrow_back_ios</i>
          <span>Cancel</span>
        </button>

        <div class="input-container">

        </div>
        Editing password

        <div class="save-btn email-done">
          <i class="material-icons-round done">chekc</i>
        </div>
      </div>

    </div>
  </div>

  <div class="darken-overlay hide"></div>

  </div>
  <!-- ==========================JS========================== -->
  <!-- -----------------------SOURCED------------------------ -->
  <script async src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script async src="https://kit.fontawesome.com/b382730141.js" crossorigin="anonymous"></script>
  <script async src="/public/javascripts/modules/sortable.js"></script>
  <!-- ------------------------CUSTOM------------------------ -->
  <script async src="/public/javascripts/global.js"></script>
  <script async src="/public/javascripts/settings.js"></script>
</body>

<!-- <div class="section bill-container">
  <h3 class="edit-btn"><i class="material-icons-round">edit</i></h3>
  <div class="panel-left">
    <i class="material-icons-round">payment</i> 
    <h2>Billing info</h2>
  </div>
  <div class="panel-right">
    <div class="input-container">
      <h3>Card number</h3>
      <input type="text" id="card-num" placeholder="-">
    </div>
    <div class="input-container">
      <h3>Card holder name</h3>
      <input type="text" id="card-name" placeholder="-">
    </div>
    <div class="input-container">
      <label for="paypal" class="opt switch-opt green-opt">
        <input type="checkbox" id="paypal" checked="checked">
        <div class="icon-container paypal"><i class="fab fa-paypal"></i></div>
        <div class="switch-custom"></div>
      </label>
    </div>
    <div class="input-container">
      <h3>Expiration date</h3>
      <input type="text" id="card-exp" placeholder="-">
    </div>
    <div class="input-container">
      <h3>CVV</h3>
      <input type="text" id="card-cvv" placeholder="-">
    </div>
    <div class="input-container">
      <label for="paypal" class="opt switch-opt green-opt">
        <input type="checkbox" id="paypal" checked="checked">
        <div class="icon-container stripe"><i class="fab fa-stripe"></i></div>
        <div class="switch-custom"></div>
      </label>
    </div>
  </div>
</div> -->

</html>