$logo-purple: #6853d9;
$lightest: #ffffff;
$lighter: #f4f4f4;
$light: #ABABAB;
$lightbluetint: #E9EFF6;
$dark: #786D97;
$darker: #1A1039;
$darkest: #000000;
$gold: #FDD135;
$blue-light: #36C4E8;
$blue-mid: #209CE2;
$blue-dark: #0A73DC;
$green: #18DBAC;
$red: #FA6F6F;
$orange: #FF9F46;
$bg-grey: #FBFBFB;
$horiz-space: 3vw;
$vert-space: 4vh;

* {
  margin: 0;
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: $darker;
  letter-spacing: 0;
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.main-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $vert-space $horiz-space;
  max-width: calc(100% - 150px);
  flex: 1 1 auto;
  background: $bg-grey;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  padding: $vert-space $horiz-space 0 $horiz-space;
  flex: 0 0 8vh;
}

.ui-container {
  display: flex;
  width: 100%;
  min-height: 72vh;
  flex: 1 1 0;
  padding: 0 $horiz-space $vert-space $horiz-space;
}

.hide {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

// ----- ICONS -----

.md-18 { font-size: 18px; }
.md-24 { font-size: 24px; }
.md-36 { font-size: 36px; }
.md-48 { font-size: 48px; }
.md-light { color: $lightest; }
i { color: inherit; }


// ----- BADGES ----- 

.badge {
  position: relative;
  img {
    transition: filter 0.1s ease-out;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, calc(-50% - 2px));
    color: $lightest;
    opacity: 0;
    text-transform: uppercase;
    font-size: 0.5rem;
    font-weight: 700;
    letter-spacing: 0.125em;
    transition: opacity 0.1s ease-out;
  }
  &:hover {
    img {
      filter: brightness(0.8) blur(1px);
    }
    &::after {
      opacity: 1;
    }
  }
}

.badge.trophy::after { content: 'Trophy'; }
.badge.medal::after { content: 'Medal'; }
.badge.console::after { content: 'Console'; }
.badge.loyal::after { content: 'Loyal'; }
.badge.graduation::after { content: 'Grad'; }
.badge.empty {
  cursor: pointer;
  &::after {
    content: 'Click to add';
  }
}

// ----- FONT STYLES -----

h1 {
  font-weight: 600;
  letter-spacing: 0.02rem;
  font-size: 3em;
}

.small-caps {
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  color: $light;
  text-transform: uppercase;
  font-weight: 500;
}

span {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

// ----- PROJECT CARDS -----

.project-card {
  flex: 1 1 0;
  background: $lightest;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: min-content auto;
  position: relative;
  padding: 1.5rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.2s ease-out, margin 0.1s ease-out;
  & > * {
    pointer-events: none;
  }
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: $lighter;
  }
  .tags-container {
    display: flex;
    flex-wrap: wrap;
    .project-tag {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.7rem;
      margin-right: 0.5em;
      margin-bottom: 0.4em;
      padding: 0.4em 1.5em;
      border-radius: 999px;
    }
    .progress-tag {
      span {
        color: $lightest;
      }
      img {
        color: $lightest;
        height: 1em;
        margin-right: 2px;
      }
    }
  }
  .progress-trophy {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    i {
      color: $gold;
    }
    .trophy-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      .trophy-back {
        opacity: 0.25;
      }
      .trophy-container {
        position: absolute;
        bottom: 0;
        right: 0;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        height: 10px;
      }
    }
  }
  .project-info {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    .project-rating {
      display: flex;
      align-items: center;
      font-size: 1rem;
      font-weight: 600;
      color: $gold;
      i {
        margin-left: 2px;
        margin-bottom: 0.05em;
        font-size: 1em;
      }
    }
    .project-name {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 100%;
      margin: 0.1em 0;
    }
    .project-about {
      font-size: 0.625rem;
      color: $dark;
      line-height: 150%;
    }
    .current-task {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      font-weight: 600;
      color: $red;
      line-height: 150%;
      i {
        margin-left: 0.5em;
        margin-bottom: 0.05em;
        font-size: inherit;
      }
    }
  }
  .progress-number {
    align-self: flex-end;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 150%;
    color: $darker;
  }
  .progress-bar {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    width: 80%;
    animation: wavy 1.5s ease infinite;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: opacity 1s linear;
    }
  }
  &:hover {
    margin-top: -2px;
    margin-bottom: 2px;
    .progress-bar::after { opacity: 0; }
  }
}

.project-card.in-progress {
  .project-about,
  .recom-icon {
    display: none;
  }
}

.project-card.new {
  .project-info {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  &::after,
  .current-task,
  .progress-tag,
  .trophy-wrapper,
  .recom-icon,
  .progress-number,
  .progress-bar {
    display: none;
  }
}

.project-card.new.recom {
  .recom-icon {
    display: inline-block;
  }
}

.project-card.small {
  .project-info {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .progress-number {
    display: none;
  }
}

.project-card.large {
  .progress-tag {
    display: none;
  }
}

.project-card.completed {
  .progress-tag,
  .recom-icon,
  .current-task {
    display: none;
  }
  .progress-trophy>.trophy-wrapper>.trophy-container {
    height: auto;
  }
  & > * {
    opacity: 0.5;
    transition: opacity 0.2s ease-out;
  }
  .progress-trophy {
    opacity: 1;
  }
  .progress-bar {
    width: 100%;
  }
  &:hover > * {
    opacity: 1;
  }
}

.project-card.red {
  .tags-container > .project-tag { 
    border: thin solid $red;
  }
  .tags-container > .project-tag,
  .project-info > .current-task,
  &.completed > .progress-number {
    color: $red;
  }
  .tags-container > .progress-tag,
  .progress-bar::after {
    background-color: $red; 
  }
  .progress-bar { 
    background: linear-gradient(45deg, $red 0%, $orange 33%, $red 66%, $orange 100%); 
    background-size: 400% 400%;
  }
  &:hover { box-shadow: 0 2em 4em -3em $red; }
}

.project-card.green {
  .tags-container > .project-tag { 
    border: thin solid $green;
  }
  .tags-container > .project-tag,
  .project-info > .current-task,
  &.completed > .progress-number {
    color: $green;
  }
  .tags-container > .progress-tag,
  .progress-bar::after {
    background-color: $green; 
  }
  .progress-bar { 
    background: linear-gradient(45deg, $green 0%, $blue-light 33%, $green 66%, $blue-light 100%); 
    background-size: 400% 400%;
  }
  &:hover { box-shadow: 0 2em 4em -3em $green; }
}

.project-card.orange {
  .tags-container > .project-tag { 
    border: thin solid $orange;
  }
  .tags-container > .project-tag,
  .project-info > .current-task,
  &.completed > .progress-number {
    color: $orange;
  }
  .tags-container > .progress-tag,
  .progress-bar::after {
    background-color: $orange; 
  }
  .progress-bar { 
    background: linear-gradient(45deg, $orange 0%, $gold 33%, $orange 66%, $gold 100%); 
    background-size: 400% 400%;
  }
  &:hover { box-shadow: 0 2em 4em -3em $orange; }
}

.project-card.blue {
  .tags-container > .project-tag { 
    border: thin solid $blue-light;
  }
  .tags-container > .project-tag,
  .project-info > .current-task,
  &.completed > .progress-number {
    color: $blue-light;
  }
  .tags-container > .progress-tag,
  .progress-bar::after {
    background-color: $blue-light; 
  }
  .progress-bar { 
    background: linear-gradient(45deg, $blue-light 0%, #B09AED 33%, $blue-light 66%, #B09AED 100%); 
    background-size: 400% 400%;
  }
  &:hover { box-shadow: 0 2em 4em -3em $blue-light; }
}

@keyframes wavy {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 15% 100%;
  }
}

.emitter {
  visibility: hidden;
  background-color: #222;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 40%;
  left: 0%;
  pointer-events: none;
}
.dot-container {
  position: absolute;
  left: 0;
  top: 0;
  overflow: visible;
  z-index: 5000;
  pointer-events: none;
}
.dot {
  position: absolute;
  pointer-events: none; /*performance optimization*/
}