$logo-purple: #6854d9;
$lightest: #ffffff;
$lighter: #f4f4f4;
$light: #ABABAB;
$lightbluetint: #E9EFF6;
$dark: #786D97;
$darker: #1A1039;
$darkest: #000000;
$gold: #FDD135;
$blue-light: #36c4e8;
$blue-mid: #209CE2;
$blue-dark: #0A73DC;
$magenta-light: #B835CF;
$green: #18dbac;
$red: #fa6f6f;
$orange: #ff9f46;
$bg-grey: #FBFBFB;

$horiz-space-mobile: 5vw;
$vert-space-mobile: 2vh;

$horiz-space-tablet: 2vw;
$vert-space-tablet: 4vh;

$horiz-space-desktop: 3vw;
$vert-space-desktop: 4vh;

$trophy-col: #EEC1A9;
$loyal-col: #C1DEAA;
$console-col: #C7B6CF;
$medal-col: #99D3D0;
$grad-col: #DBAACD;
$review-col: #D6CFC6;
$love-col: #AABEF5;
$verified-col: #BCC8D5;
$tour-col: #ECD3A8;

* {
  margin: 0;
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: $darker;
  letter-spacing: 0;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  padding: 0;
}

body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  background: $bg-grey;
  overflow: hidden;
}

.main-page {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: calc(100% - 60px);
  max-height: calc(100% - 60px);
  padding: $vert-space-mobile $horiz-space-mobile;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: calc(#{$vert-space-mobile}*2) $horiz-space-mobile 0 $horiz-space-mobile;
  flex: 0 0 8vh;
}

.ui-container {
  display: flex;
  margin: $vert-space-mobile 0;
  flex: 1 0 auto;
  padding: 0 $horiz-space-mobile $vert-space-mobile $horiz-space-mobile;
}

.hide {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

.darken-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $darkest;
  opacity: 0.25;
}

// ----- ICONS -----

.md-12 { font-size: 12px; }
.md-18 { font-size: 18px; }
.md-24 { font-size: 24px; }
.md-36 { font-size: 36px; }
.md-48 { font-size: 48px; }
.md-light { color: $lightest; }
i { color: inherit; }


// ----- FONT STYLES -----

h1 {
  font-weight: 600;
  letter-spacing: 0.02rem;
  font-size: 2rem;
}

.small-caps {
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  color: $light;
  text-transform: uppercase;
  font-weight: 500;
}

span {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

// ----- BUTTONS -----

.opt {
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  input {
    display: none;
    &:checked ~ span {
      opacity: 1;
      font-weight: 500;
    }
  }
  span {
    color: $darker;
    opacity: 0.8;
    margin-right: 3em;
    &::after {
      display: block;
      content: attr(title);
      font-weight: 700;
      height: 1px;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
  }
  &:hover {
    span {
      opacity: 1;
    }
  }
}
.radio-opt {
  input {
    &:checked ~ .radio-custom::after {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .radio-custom {
    height: 1.35em;
    width: 1.35em;
    padding: 0.25em;
    border-radius: 50%;
    border: solid thin $lighter;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover {
    .radio-custom {
      background: $lighter;
    }
  }
}
.switch-opt {
  input {
    &:checked ~ .switch-custom {
      opacity: 1;
    }
    &:checked ~ .switch-custom::after {
      margin-left: 0.75em;
      margin-right: 0;
    }
  }
  .switch-custom {
    height: 1.35em;
    width: 2.1em;
    border-radius: 999px;
    background: $lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    transition: background-color 0.3s ease-out;
    &::after {
      content: '';
      height: 0.75em;
      width: 0.75em;
      border-radius: 50%;
      background: $lightest;
      margin-right: 0.75em;
      transition: margin 0.3s ease-out;
    }
  }
  &:hover {
    .switch-custom {
      opacity: 1;
    }
  }
}

.opt.blue-opt {
  input {
    &:checked ~ .radio-custom::after,
    &:checked ~ .switch-custom {
      background: $blue-light;
    }
  }
}

.opt.green-opt {
  input {
    &:checked ~ .radio-custom,
    &:checked ~ .switch-custom {
      background: $green;
    }
  }
}

.opt.orange-opt {
  input {
    &:checked ~ .radio-custom,
    &:checked ~ .switch-custom {
      background: $orange;
    }
  }
}

.checkbox {
  --background: #fff;
  --border: #36C4E8;
  --border-hover:#36C4E8;
  --border-active: #0A73DC;
  position: relative;
  input,
  svg {
      width: 21px;
      height: 21px;
      display: block;
  }
  input {
      -webkit-appearance: none;
      -moz-appearance: none;
      position: relative;
      outline: none;
      background: var(--background);
      border: none;
      margin: 0;
      padding: 0;
      cursor: pointer;
      border-radius: 4px;
      transition: box-shadow .3s;
      box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
      &:hover {
          --s: 2px;
          --b: var(--border-hover);
      }
      &:checked {
          --b: var(--border-active);
      }
  }
  svg {
      pointer-events: none;
      fill: none;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: var(--stroke, var(--border-active));
      position: absolute;
      top: 0;
      left: 0;
      width: 21px;
      height: 21px;
      transform: scale(var(--scale, 1)) translateZ(0);
  }
  &.path {
      input {
          &:checked {
              --s: 2px;
              transition-delay: .4s;
              & + svg {
                  --a: 16.1 86.12;
                  --o: 102.22;
              }
          }
      }
      svg {
          stroke-dasharray: var(--a, 86.12);
          stroke-dashoffset: var(--o, 86.12);
          transition: stroke-dasharray .6s, stroke-dashoffset .6s;
      }
  }
}

// ----- PROJECT CARDS -----

.project-card {
  flex: 1 1 0;
  background: $lightest;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: min-content auto;
  position: relative;
  padding: 1rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.2s ease-out, margin 0.1s ease-out;
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: $lighter;
  }
  .tags-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: filter 0.1s ease-out;
    .project-tag {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.7rem;
      font-weight: 500;
      margin-right: 0.5em;
      padding: 0.4em 1.5em;
      border-radius: 999px;
      white-space: nowrap;
    }
    .status-tag {
      .status-tag-icon {
        margin-top: -100%;
        margin-bottom: -100%;
        height: 1.5em;
        width: 1.5em;
        margin-right: 0.25em;
        background-size: contain;
        background-repeat: no-repeat;
      }
      span {
        color: $lightest;
      }
    }
    &::after {
      content: '';
      min-width: 0.25em;
      height: 100%;
      visibility: hidden;
    }
    &:hover {
      filter: brightness(0.95);
    }
  }
  .status-container {
    margin-left: 0.5em;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    i {
      color: $gold;
    }
    .trophy-container {
      position: relative;
      height: 1.4rem;
      width: 1.4rem;
      img {
        position: absolute;
        overflow: hidden;
        bottom: 0;
        right: 0;
        width: 100%;
        object-fit: cover;
        object-position: 0 100%;
      }
      .trophy-back {
        opacity: 0.25;
      }
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -1em;
      height: 100%;
      width: 1em;
      background: linear-gradient(to left, $lightest 25%, rgba(255,255,255,0) 100%);
    }
  }
  .project-info {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    .project-rating {
      display: flex;
      align-items: center;
      font-size: 1rem;
      font-weight: 600;
      color: $gold;
      i {
        margin-left: 2px;
        margin-bottom: 0.05em;
        font-size: 1em;
      }
    }
    .project-name {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 100%;
      margin: 0.1em 0;
    }
    .project-about {
      font-size: 0.625rem;
      color: $dark;
      line-height: 150%;
      overflow: hidden;
    }
    .current-task {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      font-weight: 600;
      color: $red;
      line-height: 150%;
      i {
        margin-left: 0.5em;
        margin-bottom: 0.05em;
        font-size: inherit;
      }
    }
  }
  .progress-number {
    align-self: flex-end;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 150%;
    color: $darker;
  }
  .progress-bar {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    width: 80%;
    animation: wavy 1.5s ease infinite;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: opacity 1s linear;
    }
  }
  &:hover {
    margin-top: -2px;
    margin-bottom: 2px;
    .progress-bar::after { opacity: 0; }
  }
}

.project-card.ongoing {
  .status-tag > .status-tag-icon {
    background-image: url('../../public/images/hourglass.svg');
  }
  .project-about,
  .recom-icon {
    display: none;
  }
}

.project-card.new {
  .project-info {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  &::after,
  .current-task,
  .status-tag,
  .trophy-container,
  .recom-icon,
  .progress-number,
  .progress-bar {
    display: none;
  }
}

.project-card.recom {
  .status-tag {
    .status-tag-icon {
      background-image: url('../../public/images/bulb.svg');
    }
    span {
      width: 0;
      overflow: hidden;
    }
  }
  &:hover {
    .recom-icon {
      filter: brightness(1.1);
      text-shadow: 0 0 0.2em $gold;
    }
  }
  .recom-icon {
    display: inline-block;
  }
  .project-info {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  &::after,
  .current-task,
  .trophy-container,
  .progress-number,
  .progress-bar {
    display: none;
  }
}

.project-card.small {
  .project-info {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .progress-number {
    display: none;
  }
}

.project-card.large {
  
}

.project-card.completed {
  .status-tag > .status-tag-icon {
    background-image: url('../../public/images/complete.svg');
  }
  .recom-icon,
  .current-task {
    display: none;
  }
  & > * {
    opacity: 0.5;
    transition: opacity 0.2s ease-out;
  }
  .progress-bar {
    width: 100%;
  }
  &:hover > * {
    opacity: 1;
  }
}

.project-card.red {
  .tags-container > .project-tag { 
    border: thin solid $red;
  }
  .tags-container > .project-tag,
  .project-info > .current-task,
  &.completed > .progress-number {
    color: $red;
  }
  .tags-container > .status-tag,
  .progress-bar::after {
    background-color: $red; 
  }
  .progress-bar { 
    background: linear-gradient(45deg, $red 0%, $orange 33%, $red 66%, $orange 100%); 
    background-size: 400% 400%;
  }
  &:hover { box-shadow: 0 2em 4em -3em $red; }
}

.project-card.green {
  .tags-container > .project-tag { 
    border: thin solid $green;
  }
  .tags-container > .project-tag,
  .project-info > .current-task,
  &.completed > .progress-number {
    color: $green;
  }
  .tags-container > .status-tag,
  .progress-bar::after {
    background-color: $green; 
  }
  .progress-bar { 
    background: linear-gradient(45deg, $green 0%, $blue-light 33%, $green 66%, $blue-light 100%); 
    background-size: 400% 400%;
  }
  &:hover { box-shadow: 0 2em 4em -3em $green; }
}

.project-card.orange {
  .tags-container > .project-tag { 
    border: thin solid $orange;
  }
  .tags-container > .project-tag,
  .project-info > .current-task,
  &.completed > .progress-number {
    color: $orange;
  }
  .tags-container > .status-tag,
  .progress-bar::after {
    background-color: $orange; 
  }
  .progress-bar { 
    background: linear-gradient(45deg, $orange 0%, $gold 33%, $orange 66%, $gold 100%); 
    background-size: 400% 400%;
  }
  &:hover { box-shadow: 0 2em 4em -3em $orange; }
}

.project-card.blue {
  .tags-container > .project-tag { 
    border: thin solid $blue-light;
  }
  .tags-container > .project-tag,
  .project-info > .current-task,
  &.completed > .progress-number {
    color: $blue-light;
  }
  .tags-container > .status-tag,
  .progress-bar::after {
    background-color: $blue-light; 
  }
  .progress-bar { 
    background: linear-gradient(45deg, $blue-light 0%, #B09AED 33%, $blue-light 66%, #B09AED 100%); 
    background-size: 400% 400%;
  }
  &:hover { box-shadow: 0 2em 4em -3em $blue-light; }
}

// ----- BADGES ----- 

.badge {
  height: 5rem;
  width: 5rem;
  padding: 0.75rem;
  img {
    transform: rotate(-45deg);
    width: 100%;
    height: 100%;
  }
}

.scrollable {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: $lighter;
    border: 0px none transparent;
    border-radius: 99px;
  }
  &::-webkit-scrollbar-track:hover {
    background: $lightbluetint;
    border-radius: 99px;
  }
  &::-webkit-scrollbar-thumb {
    background: $light;
    border: 0px none transparent;
    border-radius: 99px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $blue-mid;
  }
  &::-webkit-scrollbar-thumb:active {
    background: $blue-mid;
  }
  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

@keyframes wavy {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 15% 100%;
  }
}

@media only screen and (min-width: 768px) {

h1 {
  font-size: 3rem;
}

body {
  position: static;
}

.main-page {
  position: static;
  flex: 1 1 0;
  height: 100%;
  max-height: 100%;
  padding: $vert-space-tablet $horiz-space-tablet;
  max-width: calc(100% - 150px);
  overflow: hidden;
}

.header-container {
  padding: $vert-space-tablet $horiz-space-tablet 0 $horiz-space-tablet;
}

.ui-container {
  flex: 1 1 0;
  margin: 0;
  min-height: 72vh;
  padding: 0 $horiz-space-tablet $vert-space-tablet $horiz-space-tablet;
}

.project-card {
  padding: 1.5rem;
  .tags-container {
    .project-tag {
      font-size: 0.7rem;
    }
  }
}

}

@media only screen and (min-width: 1200px) {

.main-page {
  padding: $vert-space-desktop $horiz-space-desktop;
}

.header-container {
  padding: $vert-space-desktop $horiz-space-desktop 0 $horiz-space-desktop;
}

.ui-container {
  padding: 0 $horiz-space-desktop $vert-space-desktop $horiz-space-desktop;
}



}