$logo-purple: #6853d9;
$lightest: #ffffff;
$lighter: #f4f4f4;
$light: #ABABAB;
$dark: #786D97;
$darker: #1A1039;
$darkest: #000000;
$gold: #FDD135;
$blue: #36C4E8;
$green: #18DBAC;
$red: #FA6F6F;
$bg-grey: #FBFBFB;

* {
  margin: 0;
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.md-18 { font-size: 18px; }
.md-24 { font-size: 24px; }
.md-36 { font-size: 36px; }
.md-48 { font-size: 48px; }

.md-light { color: $lightest; }