@import "global";

.ui-container {
  // padding-bottom: 0;
}

.db-left {
  width: 50vw;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.profile-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 1 25vh;
  .avatar {
    object-fit: cover;
    height: 18vh;
    width: 18vh;
    border-radius: 50%;
    box-shadow: 0 10px 30px -20px $darkest;
  }
  .trophy-case {
    margin-left: 2vw;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
  }
}

h2 {
  width: 100%;
}

.recent-container {
  display: flex;
  flex: 1 1 27vh;
  padding: 1vh 0 2.5vh 0;
  .project-card:first-child {
    margin-right: 1vw;
  }
  .project-card:last-child {
    margin-left: 1vw;
  }
}

.recom-container {
  padding-top: 1.5vh;
  display: flex;
  flex: 1 1 20vh;
}

.db-right {
  width: 50vw;
  height: 100%;
  padding-left: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-container {
  height: 80%;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.other-wrapper {
  height: 20%;
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.stat {
  padding: 2rem 2vw 2rem 4vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #F8A3A8;
  border-radius: 1.25rem;
  height: 23%;
  width: 100%;
  position: relative;
  .stat-img {
    position: absolute;
    top: 0;
    left: -4vw;
    height: 100%;
    width: 7.5vw;
    object-fit: contain;
  }
  .stat-text {
    margin: 0 2vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .stat-title {
      font-weight: 500;
      font-size: 1.25rem;
      color: $lightest;
      line-height: 105%;
      margin-bottom: 0.5em;
    }
    .stat-about {
      font-size: 0.625rem;
      color: $lightest;
      line-height: 150%;
    }
  }
  .stat-fig-container {
    width: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .stat-fig-val {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.75em;
      width: 2.75em;
      color: #F8A3A8;
      font-weight: 700;
      font-size: 1.5rem;
      background: $lightest;
      border-radius: 33%;
    }
    .stat-fig-text {
      margin-top: 1em;
      color: $lightest;
      text-transform: uppercase;
      font-size: 0.5625rem;
      font-weight: 500;
      letter-spacing: 0.1em;
    }
  }
}

#stat-unleash {
  background: #F8A3A8;
  .stat-fig-container > .stat-fig-val { color: #F8A3A8; }
}

#stat-rate {
  background: #9CDCAA;
  .stat-fig-container > .stat-fig-val { color: #9CDCAA; }
}

#stat-champ {
  background: #F3C6A5;
  .stat-fig-container > .stat-fig-val { color: #F3C6A5; }
}

#stat-task {
  background: #96CAF7;
  .stat-fig-container > .stat-fig-val { color: #96CAF7; }
}

.db-badge {
  position: relative;
  img {
    transition: filter 0.1s ease-out;
  }
  &::after {
    content: attr(caption);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: $lightest;
    opacity: 0;
    text-transform: uppercase;
    font-size: 0.5rem;
    font-weight: 700;
    letter-spacing: 0.125em;
    transition: opacity 0.1s ease-out;
  }
  &:hover {
    img {
      filter: brightness(0.8) blur(1px);
    }
    &::after {
      opacity: 1;
    }
  }
}

.db-badge.empty {
  cursor: pointer;
  &::after {
    content: 'Click to edit';
  }
}

.other-container {
  height: 12vh;
  width: 30%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $lightest;
  cursor: pointer;
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.85;
    transition: opacity 0.2s ease-out;
  }
  i {
    z-index: 2;
  }
  .other-text {
    z-index: 2;
    color: inherit;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-top: 0.25em;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.2s ease-out, opacity 0.2s ease-out;
  }
  &:hover {
    img {
      opacity: 1;
    }
    .other-text {
      opacity: 1;
      height: 1.5em;
    }
  }
}