@import "global";

.db-left {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 55vw;
  padding-right: 2vw;
}

.profile-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 1 25vh;
  .db-dp {
    object-fit: cover;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    box-shadow: 0 10px 30px -20px $darkest;
  }
  .trophy-case {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 320px;
  }
}

h2 {
  width: 100%;
}

.recent-container {
  display: flex;
  flex: 1 1 27vh;
  padding: 2vh 0;
}

.recom-container {
  display: flex;
  flex: 1 1 20vh;
  background: red;
}

.db-right {
  width: 45vw;
}