@import "global";

.ui-container {
  display: flex;
  flex-direction: row;
}

.db-left {
  max-height: 100%;
  width: 55vw;
  display: flex;
  flex-direction: column;
}

.profile-container {
  flex: 1 1 25vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  .db-dp {
    object-fit: cover;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
  }
  .badges-container {
    max-width: 20vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    // img {
    //   width: 33%;
    // }
  }
}


.recent-container {
  flex: 1 1 24vh;
  background: $green;
}

.recom-container {
  flex: 1 1 23vh;
  background: $blue;
}

.db-right {
  width: 45vw;
}