@import "global";

// Mobile view
body{
    position: relative;
}
nav{
    align-self: flex-start;
    a{
        height: 100%;
        width: 100%;
        img{
            height: 2em;
            width: 2em;
        }
    }
}
.wrap{
    padding: 5vh 10vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    z-index: 10;
    overflow-y: scroll;
}

.user-input{
    background-color: $lightbluetint;
    padding: 1.3em;
    border-radius: 1em;
    width: 100%;
    // position: relative;
    &::placeholder {
      transition: color 0.1s ease-out;
    }
    &:hover::placeholder {
      color: $darker;
    }
    &:focus::placeholder {
      color: $light;
    }
}
.input-validation{
    position: relative;
    &:after{
        content: attr(data-error-msg);
        position: absolute;
        bottom: 0.5em;
        left: 1em;
        color: $red;
        font-size: 0.7em;
        z-index: 15;
        display: block;
    }
}
.shake{
    animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
}
.pass-strength{
    position: absolute;
    bottom: 0.5em;
    left: 1em;
    font-size: 0.7em;
    z-index: 15;
    display: block;
    color: $red;
}

.password-input{
    padding: 1.3em 3.3em 1.3em 1.3em;
}

.cta-button{
    cursor: pointer;
}
.main-cta{
    background-color: $blue-mid;
    color: $lightest;
    transition: background-color ease 0.3s;
    &:hover{
        background-color: $blue-dark;
    }
}
.secondary-cta{
    background-color: $lightest;
    color: $blue-light;
    border: thin solid $blue-light;
    transition: border ease 0.3s, color ease 0.3s;
    &:hover{
        border: thin solid $blue-dark;
        color: $blue-dark;
    }
}
.back-btn{
    background-color: transparent;
    display: flex;
    transform: translateX(-1em);
    cursor: pointer;
    i{
        color: $blue-light;
        transition: color ease 0.3s;
        &:hover{
            color: $blue-dark;
        }
    }
}

.small-text{
    font-size: 0.8em;
    color: $light;
}
.quick-link{
    color: $blue-dark;
}

.inactive{
    visibility: hidden;
    cursor: none;
    pointer-events: none;
}
.no-interaction{
    cursor: none;
    pointer-events: none;
}

.user-form-wrap{
    position: relative;
}
.left-input-container{
    .title-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}

.user-input-container{
    padding-bottom: 1.8em;
    position: relative;
}

.user-btn-container{
    padding-bottom: 0.8rem;
    button{
        letter-spacing: 0.1em;
    }
}

.user-input-container{
    span{
        position: absolute;
        display: flex;
        cursor: pointer;
        right: 0.8rem;
        top: 35%;
        transform: translateY(-50%);
        z-index: 1;
        i{
            color: $light;
            font-size: 1.4em;
            transition: color ease 0.3s;
            &:hover{
                color: $dark;
            }
        }
    }
    .icon-selected{
        color: $dark;
    }
}

.sign-up-container{
    // visibility: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    h1{
        font-size: 2em;
        padding: 1em 0;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    .disclaimer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5em 0 1.5em;
        line-height: 130%;
        text-align: center;
    }
}

.recover-pass-container{
    // visibility: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    h1{
        font-size: 2em;
        padding: 1em 0;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    .disclaimer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5em 0 1.5em;
        line-height: 130%;
        text-align: center;
    }
}

.login-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5%;
    width: 100%;
    h2{
        font-size: 2.5em;
        font-weight: 600;
        padding: 0.5em 0 1em;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    .login-settings-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.5em 1.6em 0.5em;
    }
    .remember-check-container{
        display: flex;
        align-items: center;
        p{
            padding-left: 0.5em;
            color: $blue-dark;
            font-weight: 300;
            font-size: 0.8em;
            font-weight: 500;
            transition: color ease 0.1s, font-weight ease 0.1s;
        }
        .nonactive-p{
            color: $blue-light;
            font-weight: 400;
        }
    }
    #remember-text{
        cursor: pointer;
    }
    .forgot-password-container{
        display: flex;
        align-items: center;
        .forgot-pass-btn{
            background-color: transparent;
            color: $blue-dark;
            cursor: pointer;
        }
    }

}

.recover-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5%;
    width: 100%;
    h2{
        font-size: 2em;
        font-weight: 600;
        padding: 0.5em 0 1em;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    .back-btn{
        width: 100%;
        height: 100%;
    }
}

.demo{
    display: none;
}

.background{
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden;
}

.bg-item{
    position: absolute;
}
.topleft{
    top: -180vh;
    left: -155vw;
    img{
        height: 320vh;
        width: 230vw;
    }
    animation: wave 250s infinite linear;
}
.botright{
    bottom: -220vh;
    right: -155vw;
    img{
        height: 300vh;
        width: 230vw;
    }
    animation: wave 150s infinite linear;
}
.bg-circle{
    top: -30vh;
    right: -10vw;
    height: 35vw;
    width: 35vw;
    background-color: #F8EBFB;
    border-radius: 100%;
}
.box-grid{
    top: 0;
    right: 1vw;
    img{
        width: 12vw;
        height: 20vh;
    }
}
.box-grid-sml{
    bottom: 32%;
    right: 50%;
    img{
        width: 110%;
        height: 110%;
    }
}
.bg-triangle{
    bottom: -18em;
    right: 20%;
}
.bg-triangle-outline{
    bottom: -18em;
    right: 30%;
    width: 44em;
}
.tagline-container{
    display: none;
    .tagline{
        font-size: 1.5em;
        font-weight: 500;
        color: $dark;
    }
}

.copyright-text{
    display: none;
}

@keyframes wave {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}
@keyframes wave-anti {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(-360deg);}
}

.slide-left{
    animation: screen-left 1.5s cubic-bezier(.17,.67,.42,1);
}

.enter-screen-right{
    animation: enter-screen-right 1s cubic-bezier(.17,.67,.42,1);
}

.slide-right{
    animation: screen-right 1.5s cubic-bezier(.17,.67,.42,1);
}

.enter-screen-left{
    animation: enter-screen-left 1s cubic-bezier(.17,.67,.42,1);
}

@keyframes screen-left{
    0% {
    };
    40% {
        opacity: 0;
    };
    100%{
        transform: translateX(-10em);
        opacity: 0;
    };
}
@keyframes enter-screen-right{
    0% {
        transform: translateX(3em);
        opacity: 0;
    };
    100%{
        transform: translateX(0em);
        opacity: 1;
    };
}
@keyframes screen-right{
    0% {
    };
    40% {
        opacity: 0;
    };
    100%{
        transform: translateX(10em);
        opacity: 0;
    };
}
@keyframes enter-screen-left{
    0% {
        transform: translateX(-3em);
        opacity: 0;
    };
    100%{
        transform: translateX(0em);
        opacity: 1;
    };
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(1px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
}
#otp{
    padding-bottom: 2em;
    display: flex;
    justify-content: space-evenly;
}

.code-input{
        background-color: $lightbluetint;
        padding: 1.3em;
        border-radius: 1em;
        width: 12%;
        min-width: 2em;
        // position: relative;
        &::placeholder {
          transition: color 0.1s ease-out;
        }
        &:hover::placeholder {
          color: $darker;
        }
        &:focus::placeholder {
          color: $light;
        }
}

// // Tablet View
// @media only screen and (min-width: 850px){
//     .sign-up-container{
//         margin-right: 2em;
//         h1{
//             font-size: 2.5em;
//             letter-spacing: 0.05em;
//         }
//     }
//     .tagline-container{
//         margin: 3em 0 0 2em;
//         display: block;
//         width: 100%;
//         .tagline{
//             font-size: 1.9em;
//             letter-spacing: 0.02em;
//             font-weight: 500;
//             color: $dark;
//         }
//     }
// }

// Desktop View
@media only screen and (min-width: 1300px){
    nav{
        margin-right: 3em;
        align-self: flex-start;
        a{
            height: 100%;
            width: 100%;
            img{
                height: 2em;
                width: 2em;
            }
        }
    }
    .wrap{
        padding: 10vh 10vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        z-index: 10;
        overflow-y: scroll;
    }
    .copyright-text{
        display: inline-block;
        bottom: 1em;
        right: 3vw;
        font-size: 0.9em;
        font-style: normal;
        font-weight: 500;
        color: $light;
    }
    .sign-up-container{
        max-width: 28em;
        // margin-right: 2em;
        h1{
            font-size: 2.5em;
            padding-bottom: 1em;
            letter-spacing: 0.05em;
        }
    }
    .login-container{
        // max-width: 28em;
        // width: 25vw;
        // top:50%;
        // margin: 0 5vw;
        width: 100%;
        top: 20%;
        // transform: translateY(-50%);
        // padding-right: 2em;
        h2{
            font-size: 2.5em;
            padding: 0.5em 0 1em;
        }
    }
    .recover-container{
        // max-width: 28em;
        // margin-right: 2em;
        width: 100%;
        top: 25%;
        // top:50%;
        // margin: 0 5vw;
        // transform: translateY(-50%);
        // border: thin solid blue;
        h2{
            font-size: 2.5em;
            padding: 0.5em 0 1em;
        }
    }
    .demo{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        margin:1.5em 1em 0 7em;
    }
    .demo-img{
        animation: fade-up 2.3s cubic-bezier(.17,.67,.42,1);
        position: relative;
        .stats-hover{
            position: absolute;
            top: 0;
            right: -2em;
        }
        .first-stat{
            transform: translateX(3em);
            animation: shift-right-first 1.5s cubic-bezier(.17,.67,.42,1);
        }
        .second-stat{
            transform: translateX(1.5em);
            animation: shift-right-second 1.5s cubic-bezier(.17,.67,.42,1);
        }
        .third-stat{
            transform: translateX(0);
            animation: shift-right-third 1.5s cubic-bezier(.17,.67,.42,1);
        }
        .card-hover{
            position: absolute;
            bottom: -1em;
            left: -2.5em;
            animation: shift-left 1.5s cubic-bezier(.17,.67,.42,1);
        }
    }
    .tagline-container{
        margin: 3em 0 0 2em;
        display: block;
        width: 90%;
        .tagline{
            opacity: 1;
            font-size: 1.7em;
            letter-spacing: 0.02em;
            font-weight: 500;
            color: $dark;
            animation: fade-up-short 3s cubic-bezier(.17,.67,.42,1);
        }
    }

    .recover-pass-container{
        // visibility: hidden;
        display: flex;
        flex-direction: column;
        width: 30%;
        margin: 0 auto;
        h1{
            font-size: 2em;
            padding: 1em 0;
        }
        form{
            display: flex;
            flex-direction: column;
        }
        .disclaimer-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.5em 0 1.5em;
            line-height: 130%;
            text-align: center;
        }
    }

    @-webkit-keyframes fade-up {
        0% { 
            -webkit-transform: translateY(3em); 
                    transform: translateY(3em);
            opacity: 0;
        }
        100% { 
            -webkit-transform: translateY(0); 
                    transform: translateY(0);
            opacity: 100%;
        }
    }
    @keyframes fade-up {
        0% { 
            -webkit-transform: translateY(3em); 
                    transform: translateY(3em);
            opacity: 0;
        }
        100% { 
            -webkit-transform: translateY(0); 
                    transform: translateY(0);
            opacity: 100%;
        }
    }
    @-webkit-keyframes fade-up-short {
        0% { 
            -webkit-transform: translateY(2em); 
                    transform: translateY(2em);
            opacity: 0;
        }
        25% { 
            -webkit-transform: translateY(1em); 
                    transform: translateY(1em);
            opacity: 0;
        }
        100% { 
            -webkit-transform: translateY(0); 
                    transform: translateY(0);
            opacity: 100%;
        }
    }
    @keyframes fade-up-short {
        0% { 
            -webkit-transform: translateY(2em); 
                    transform: translateY(2em);
            opacity: 0;
        }
        25% { 
            -webkit-transform: translateY(1em); 
                    transform: translateY(1em);
            opacity: 0;
        }
        100% { 
            -webkit-transform: translateY(0); 
                    transform: translateY(0);
            opacity: 100%;
        }
    }
    @-webkit-keyframes shift-right-first {
        0% { 
            -webkit-transform: translateX(-1em); 
                    transform: translateX(-1em);
        }
        100% { 
            -webkit-transform: translateX(3em); 
                    transform: translateX(3em);
        }
    }
    @keyframes shift-right-first {
        0% { 
            -webkit-transform: translateX(-1em); 
                    transform: translateX(-1em);
        }
        100% { 
            -webkit-transform: translateX(3em); 
                    transform: translateX(3em);
        }
    }
    @-webkit-keyframes shift-right-second {
        0% { 
            -webkit-transform: translateX(-1em); 
                    transform: translateX(-1em);
        }
        100% { 
            -webkit-transform: translateX(1.5em); 
                    transform: translateX(1.5em);
        }
    }
    @keyframes shift-right-second {
        0% { 
            -webkit-transform: translateX(-1em); 
                    transform: translateX(-1em);
        }
        100% { 
            -webkit-transform: translateX(1.5em); 
                    transform: translateX(1.5em);
        }
    }
    @-webkit-keyframes shift-right-third {
        0% { 
            -webkit-transform: translateX(-1.5em); 
                    transform: translateX(-1.5em);
        }
        100% { 
            -webkit-transform: translateX(0); 
                    transform: translateX(0);
        }
    }
    @keyframes shift-right-third {
        0% { 
            -webkit-transform: translateX(-1.5em); 
                    transform: translateX(-1.5em);
        }
        100% { 
            -webkit-transform: translateX(0); 
                    transform: translateX(0);
        }
    }
    @-webkit-keyframes shift-left {
        0% { 
            -webkit-transform: translateX(1.5em); 
                    transform: translateX(1.5em);
        }
        100% { 
            -webkit-transform: translateX(0); 
                    transform: translateX(0);
        }
    }
    @keyframes shift-left {
        0% { 
            -webkit-transform: translateX(1.5em); 
                    transform: translateX(1.5em);
        }
        100% { 
            -webkit-transform: translateX(0); 
                    transform: translateX(0);
        }
    }
}