@import "global";

.main-page{
    display: flex;
    padding: 0;
}

.wrap{
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
}

.left-column{
    flex: 0 0 50%;
    padding: $vert-space 2em 0 $horiz-space;
}
.right-column{
    flex: 0 0 50%;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: -0.01em;
    text-align: left;
    color: $light;
    }
    .opt {
        // border: thin solid red;
        font-weight: 500;
        input {
          &:checked ~ span {
            font-weight: 500;
          }
        }
        span {
            transition: opacity ease 0.2s;
            color: $dark;
            &::after {
            font-weight: 500;
            }
        }
      }
    .switch-opt {
    input {
        &:checked ~ .switch-custom {
        background: $blue-light;
        }
    }
    .switch-custom {
        background: $light;
        transition: background-color 0.3s ease-out, opacity ease 0.2s ;
        }
    }
}

.ui-container {
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    width: 100%;
}

.inbox-list-container{
    // border: thin solid red;
    height:80vh;
    width: 100%;
    padding: 4vh 3vw;
    overflow-y: scroll;
}

.action-btn{
    background-color: $blue-light;
    padding: 1.3em;
    border-radius: 1em;
    width: 100%;
    color: $lightest;
    cursor: pointer;
    transition: background-color ease 0.3s;
    letter-spacing: 0.1em;
    &:hover{
        background-color: $blue-mid;
    }
}

.notif-wrap{
    padding-bottom: 2em;
    .date-text{
        font-size: 0.9em;
        color: $light;
    }
    .date-group{
        padding-bottom: 1.5em;
        p{
            font-size: 0.8em;
            color: $light;
        }
    }
    .single-notif-container{
        padding: 2em;
        display: flex;
        align-items: center;
        background-color: $lightest;
        border-radius: 0.2em;
        transition: box-shadow ease 0.2s;
        box-shadow:0px 4px 8px 1px $lighter;
        margin-bottom: 2em;
        cursor: pointer;
        &:hover{
            -webkit-box-shadow:0px 4px 8px 1px #E4E4E4; 
            box-shadow:0px 4px 8px 1px #E4E4E4;
        }
        .notif-dp{
            // border: thin solid blue;
            display: flex;
            margin-right: 1.5em;
            img{
                height: 2em;
                width: 2em; 
                object-fit: cover;
                border-radius: 100%;
            }
        }
        .notif-content-container{
            .notif-title-container{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 0.3em;
                .notif-title{
                    color: $darker;
                    font-weight: 500;
                    font-size: 0.9em;
                }
            }
            .contents-container{
                color: $light;
                font-weight: 400;
                font-size: 0.8em;
                min-width: 10vw;
                max-width: 27vw;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.inbox-detail-container{
    // border: thin solid blue;
    height:100vh;
    flex: 0 0 50%;
    background-color: $lightest;
    -webkit-box-shadow: -3px 0px 15px 2px rgba(0,0,0,0.05); 
    box-shadow: -3px 0px 15px 2px rgba(0,0,0,0.05);
    padding: 6em 5vw;
    overflow-y: scroll;
    .detail-container{
        display: flex;
        // align-items: center;
        // border: thin solid red;
        // flex-wrap: wrap;
        flex-direction: column;
        .trash-btn-container{
            display: flex;
            // border:thin solid red;
            justify-content: flex-end;
            button{
                background-color: transparent;
                // border: thin solid blue;
                display: flex;
                cursor: pointer;
                i{
                    color: $light;
                    font-size: 2em;
                    transition: all ease 0.2s;
                }
                &:hover{
                    i{
                        color: $red;
                    }
                }
            }
        }
        .detail-header{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            padding: 1.5em 0;
            .detail-title-p{
                font-size: 1.5em;
                font-weight: 600;
            }
            .detail-date-text{
                font-size: 1em;
                color: $light;
            }
        }
        .detail-dp{
            // border: thin solid blue;
            display: flex;
            margin-right: 1.5em;
            img{
                height: 3em;
                width: 3em; 
                object-fit: cover;
                border-radius: 100%;
            }
        }
        .divider{
            border-bottom: thin solid $lighter;
            width: 99%;
            margin:0em auto 2em;
        }
        .detail-contents-container{
            .detail-content-p{
                font-size: 1rem;
                color: $light;
                line-height: 180%;
                font-weight: 300;
                letter-spacing: 0.02em;
                padding-bottom: 2em;
            }
        }
        .action-btn-container{
            width: 40%;
            margin: 1em 0;
        }
    }
}