@import "global";

nav {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $logo-purple;
  overflow: hidden;
  padding: 0 5vw;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex: 1 1 0;
}

.nav-menu-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  i {
    padding: 10px;
    opacity: 0.5;
    transition: opacity 0.1s ease-out;
    &:hover {
      opacity: 1;
    }
  }
  &:active > i,
  &:focus > i {
    border-radius: 33%;
    background: rgba(0,0,0,0.1);
  }
}
.nav-menu-tab.desktop-el {
  display: none;
}
.nav-menu-tab.active-tab {
  i {
    position: relative;
    color: $lightest;
    opacity: 1;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 0.75rem;
      height: 2px;
      background: $lightest;
    }
  }
}

.inbox-tab {
  position: relative;
  &::after {
    opacity: 1;
    position: absolute;
    top: 19px;
    right: 17px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: $gold;
  }
}
.inbox-tab.unread {
  &::after {
    content: '';
  }
}

.more-tab {
  margin-left: 5vw;
  position: relative;
  input {
    display: none;
  }
  &::after {
    position: absolute;
    content: '';
    height: 18px;
    width: 1px;
    background: $lightest;
    opacity: 0.5;
    top: 50%;
    left: -5vw;
    transform: translateY(-50%);
  } 
  input:checked ~ i {
    opacity: 1;
  }
}

.nav-more-menu {
  position: fixed;
  bottom: 80px;
  left: $horiz-space-mobile;
  width: calc(100% - 2*#{$horiz-space-mobile});
  display: flex;
  flex-direction: column;
  background: $lightest;
  z-index: 101;
  border-radius: 1.25rem;
  overflow: hidden;
  box-shadow: 0 10px 15px -10px rgba(104,84,217,0.5);
  .header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $vert-space;
    background: $logo-purple;
    img {
      height: 1rem;
      width: auto;
      object-fit: cover;
      margin-left: 1rem;
    }
    i {
      padding: 1rem;
    }
  }
  .more-menu-container {
    width: 100%;
    font-size: 0.75rem;
    padding: 0.5em 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    a {
      width: 100%;
      display: flex;
      align-items: center;
      color: $logo-purple;
      opacity: 0.75;
      font-size: inherit;
      padding: 1em calc(#{$horiz-space-mobile}*2);
      i {
        width: 2.25em;
        padding-right: 1em;
        text-align: right;
      }
      span {
        line-height: 200%;
      }
      &:active,
      &:focus {
        background: #ECF9FF;
        color: $blue-mid;
        opacity: 1;
      }
      &.active-more-tab {
        opacity: 1;
        font-weight: 600;
      }
    }
    .more-settings {
      margin-bottom: 0.5em;
    }
    .more-logout {
      margin-top: 0.5em;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: -0.5em;
        left: calc(#{$horiz-space-mobile}*1.5);
        transform: translateY(-50%);
        width: calc(100% - #{$horiz-space-mobile}*3);
        height: 1px;
        background: $lighter;
      }
    }
  }
}

.desktop-el {
  display: none;
}

@media only screen and (min-width: 768px) {

nav {
  z-index: 0;
}

.mobile-el {
  display: none;
}

.desktop-el {
  display: block;
}

nav {
  position: static;
  bottom: auto;
  left: auto;
  flex: 0 0 150px;
  max-width: 150px;
  flex-direction: column;
  height: 100%;
  padding: 50px 45px;
  box-shadow: -5px 0 8px 0px rgba(0,0,0,0.1) inset;
}

.nav-menu {
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: center;
}

.nav-menu-tab {
  padding: 0;
  i {
    padding: 30px;
    opacity: 0.5;
    transition: opacity 0.1s ease-out;
    &:hover {
      opacity: 1;
    }
  }
  .material-icons-round {
    display: none;
  }
}
.nav-menu-tab.desktop-el {
  display: flex;
}
.nav-menu-tab.active-tab {
  transform: translateX(27px);
  background-color: $bg-grey;
  border-radius: 20% 0 0 20%;
  box-shadow: 0 8px 8px 4px rgba(0,0,0,0.1);
  .material-icons-round.desktop-el {
    display: block;
    color: $logo-purple;
  }
  .material-icons-outlined {
    display: none;
  }
}
.inbox-tab {
  &::after {
    top: 35px;
    right: 35px;
  }
}


.website {
  width: 100%;
  .website-logo {
    height: 100%;
    width: 100%;
  }
}

.logout-desktop {
  transform: scaleX(-1);
  opacity: 0.7;
  transition: opacity 0.1s ease-out;
  &:hover {
    opacity: 1;
  }
}
}