@import "global";

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 150px;
  max-width: 150px;
  height: 100%;
  padding: 50px 45px;
  background-color: $logo-purple;
  overflow: hidden;
  box-shadow: -5px 0 8px 0px rgba(0,0,0,0.1) inset;
}

.website {
  width: 100%;
  .website-logo {
    height: 100%;
    width: 100%;
  }
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  i {
    padding: 30px;
    opacity: 0.5;
    transition: opacity 0.1s ease-out;
    &:hover {
      opacity: 1;
    }
  }
}

.active-tab {
  transform: translateX(27px);
  background-color: $bg-grey;
  border-radius: 20% 0 0 20%;
  box-shadow: 0 8px 8px 4px rgba(0,0,0,0.1);
  i {
    color: $logo-purple;
    opacity: 1;
  }
}

.logout {
  transform: scaleX(-1);
  opacity: 0.7;
  transition: opacity 0.1s ease-out;
  &:hover {
    opacity: 1;
  }
}