@import "global";

.ui-container {
  flex-direction: column;
  padding: 0 calc(#{$horiz-space}/2) $vert-space calc(#{$horiz-space}/2);
}

.fields-container {
  width: 100%;
  margin: 2vh 0;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 calc(#{$horiz-space}/2);
}

.field {
  background: $lighter;
  border-radius: 1rem;
  padding: 0 1.5rem;
}

#search-bar {
  font-size: 1rem;
  width: 40%;
  min-width: 250px;
  position: relative;
  &:hover {
    transition: background-color 0.1s ease-out;
    background: $lightbluetint;
    & ~ .search-placeholder {
      color: $blue-light;
    }
  }
  &:focus {
    background: $lightest;
    border: thin solid $blue-light;
    & ~ .search-placeholder > i,
    & ~ .search-placeholder > span {
      display: none;
    }
    & ~ .search-placeholder::after {
      display: block;
    }
  }
  &:not(:placeholder-shown) {
    & ~ .search-placeholder {
      display: none;
    }
  }
}

.search-placeholder {
  font-size: 1rem;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: calc(1.5em + #{$horiz-space}/2);
  height: 100%;
  display: flex;
  align-items: center;
  color: $light;
  letter-spacing: 0.01em;
  transition: color 0.1s ease-out;
  i {
    margin-right: 0.5em;
    color: inherit;
  }
  &::after {
    display: none;
    content: 'Let\'s see ...';
    font-size: inherit;
    letter-spacing: inherit;
    color: $lighter;
    margin-left: 2px;
  }
}

.sort-filter-btn-container {
  cursor: pointer;
  height: 100%;
}

#sort-filter-btn {
  height: 100%;
  display: flex;
  align-items: center;
  border: thin solid transparent;
  & > * {
    color: $light;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 150%;
  }
  i {
    font-size: 1rem;
    padding-right: 0.25em;
  }
  div:not(:last-child) {
    padding-right: 1rem;
  }
  i:not(:first-child) {
    padding-left: 1rem;
    border-left: thin solid $light;
  }
  &:hover {
    background: $lightbluetint;
    transition: background-color 0.1s ease-out;
    & > * {
      color: $blue-light;
    }
    i:not(:first-child) {
      border-left: thin solid $blue-light;
    }
  }
  &.focus {
    background: $lightest;
    border: thin solid $blue-light;
    & > * {
      color: $blue-light;
    }
    i:not(:first-child) {
      border-left: thin solid $blue-light;
    }
  }
}

.sort-filter-menu {
  display: flex;
  position: absolute;
  bottom: 0;
  right: calc(#{$horiz-space}/2);
  padding: 1.5em 0.5em;
  background: $lightest;
  box-shadow: 0 1em 4em -2em $dark;
  transform: translateY(calc(100% + 1em));
  z-index: 50;
  .sort-filter-column {
    display: flex;
    flex-direction: column;
    padding: 0 2.5em;
    font-size: 0.875rem;
    &:not(:last-child) {
      border-right: thin solid $lighter;
    }
  }
  .sort-filter-header {
    font-size: 0.625rem;
    text-transform: uppercase;
    color: $light;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;
  }
  .opt {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    input {
      display: none;
      &:checked ~ span {
        opacity: 1;
        font-weight: 500;
      }
    }
    span {
      color: $darker;
      opacity: 0.8;
      &::after {
        display: block;
        content: attr(title);
        font-weight: 700;
        height: 1px;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
      }
    }
    &:hover {
      span {
        opacity: 1;
      }
    }
  }
  .radio-opt {
    input {
      &:checked ~ .radio-custom::after {
        content: '';
        height: 0.75em;
        width: 0.75em;
        border-radius: 50%;
        background: $blue-light;
      }
    }
    .radio-custom {
      margin-left: 2.75em;
      height: 1.35em;
      width: 1.35em;
      border-radius: 50%;
      border: solid thin $lighter;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:hover {
      .radio-custom {
        background: $lighter;
      }
    }
  }
  .switch-opt {
    input {
      &:checked ~ .switch-custom {
        background: $blue-light;
        opacity: 1;
      }
      &:checked ~ .switch-custom::after {
        margin-left: 0.75em;
        margin-right: 0;
      }
    }
    .switch-custom {
      margin-left: 2.75em;
      height: 1.35em;
      width: 2.1em;
      border-radius: 999px;
      background: $lighter;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.5;
      transition: background-color 0.3s ease-out;
      &::after {
        content: '';
        height: 0.75em;
        width: 0.75em;
        border-radius: 50%;
        background: $lightest;
        margin-right: 0.75em;
        transition: margin 0.3s ease-out;
      }
    }
    &:hover {
      .switch-custom {
        opacity: 1;
      }
    }
  }
}

.projects-container {
  width: 100%;
  height: 100%;
  padding: 1vh calc(#{$horiz-space} / 2 - 8px) 0 calc(#{$horiz-space} / 2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5vmax;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: $lighter;
    border-radius: 99px;
  }
  &::-webkit-scrollbar-track:hover {
    background: $lightbluetint;
    border-radius: 99px;
  }
  &::-webkit-scrollbar-thumb {
    background: $light;
    border-radius: 99px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $blue-mid;
  }
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1.5em;
    grid-column-start: 1;
  }
  .project-card {
    height: 20vh;
  }
}