@import "global";
$field-height: 4em;
$bez: cubic-bezier(.15,.51,.51,.97);

.ui-container {
  margin-right: calc(#{$horiz-space} / 2);
  padding-right: calc(#{$horiz-space} / 2);
  flex-direction: column;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
}

h3 {
  font-size: 0.75em;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: $light;
  text-transform: uppercase;
}

input[type=text],
input[type=password] {
  font-size: 1em;
  line-height: 200%;
  font-weight: 500;
  transition: color 1s ease-out, background-color 1s ease-out;
  &::placeholder {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }
}

.delete-container {
  width: 100%;
  display: flex;
  margin-bottom: 0.5em;
  justify-content: flex-end;
  background: transparent;
  .delete-btn {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    background: transparent;
    color: $light;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 120%;
    transition: color 0.1s ease-out;
    i {
      margin-right: 0.5em;
    }
    &:hover {
      color: $red;
    }
  }
}

.section {
  cursor: pointer;
  width: 100%;
  margin-bottom: 2vw;
  padding: 2.5em 4vw 1.5em 3vw;
  display: flex;
  font-size: 1rem;
  border-radius: 1em;
  background: $lightest;
  position: relative;
  transition: background-color 0.2s ease-out, margin 0.2s ease-out, box-shadow 0.2s ease-out;
  .edit-btn {
    position: absolute;
    top: 2.5rem;
    right: 3vw;
    transform: translate(0, -100%);
    display: flex;
    align-items: center;
    transition: opacity 0.4s ease-out;
    &::after {
      content: 'Edit';
    }
    i {
      font-size: inherit;
      margin-right: 0.5em;
    }
  }
  &:hover {
    margin-top: -2px;
    margin-bottom: calc(2vw + 2px);
    .edit-btn::after {
      content: 'click to edit';
    }
    .edit-btn > i {
      display: none;
    }
  }
}

.panel-left {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  transition: width 0.4s $bez, opacity 0.4s ease-out;
  i {
    margin-bottom: 0.25em;
  }
}

.panel-right {
  width: 80%;
  border-left: medium solid $lighter;
  padding-left: 5vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: calc(#{$field-height} * 0.75);
  transition: width 0.4s $bez, border-left 0.4s $bez, padding-left 0.4s $bez;
  .input-container {
    height: $field-height;
    display: flex;
    flex-direction: column;
    transition: height 0.4s $bez;
    input {
      background: transparent;
      border-radius: 0.75em;
      transition: background-color 0.4s ease-out, line-height 0.4s $bez, padding-left 0.4s $bez;
    }
  }
  .btn-container {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;
    padding-top: 2px;
    height: 0;
    opacity: 0;
    transition: height 0.4s $bez, opacity 0.4s ease-out;
    button {
      visibility: hidden;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.75em;
      letter-spacing: 0.15em;
      padding: 1em 1.75em;
      border-radius: 1.25em;
    }
    .save-btn {
      color: $lightest;
      font-weight: 600;
      margin-left: 1em;
      transition: margin 0.1s ease-out, box-shadow 0.1s ease-out;
      &::after {
        content: 'Save';
        margin-left: 0.5em;
      }
      &:hover {
        margin-top: -2px;
        margin-bottom: 2px;
      }
    }
    .cancel-btn {
      opacity: 0.5;
      color: $dark;
      background: transparent;
      border: thin solid $lighter;
      transition: opacity 0.1s ease-out, background-color 0.1s ease-out;
      &::after {
        content: 'Cancel';
      }
      &:hover {
        background: $lighter;
        opacity: 1;
      }
    }
  }
}

.switch-opt {
  align-self: flex-start;
  width: auto;
  justify-content: flex-start;
  span {
    opacity: 1;
    font-weight: 500;
  }
}

.icon-container {
  height: calc(#{$field-height} * 0.75);
  width: calc(#{$field-height} * 0.75);
  border-radius: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-size: 1.5em;
  }
}

.acc-container {
  .panel-left > i,
  .edit-btn {
    color: $blue-light; 
  }
  &:hover,
  &.edit-mode {
    box-shadow: 0 2em 4em -4em $blue-light;
  }
  .btn-container > .save-btn { 
    background: $blue-light;
    &:hover {
      box-shadow: 0 0.5em 1em -0.5em $blue-light;
    }
  }
}

.bill-container {
  .panel-left > i,
  .edit-btn {
    color: $green; 
  }
  &:hover,
  &.edit-mode {
    box-shadow: 0 2em 4em -4em $green;
  }
  .btn-container > .save-btn { 
    background: $green; 
    &:hover {
      box-shadow: 0 0.5em 1em -0.5em $green;
    }
  }
}

.address-container {
  .panel-left > i,
  .edit-btn {
    color: $orange; 
  }
  &:hover,
  &.edit-mode {
    box-shadow: 0 2em 4em -4em $orange;
  }
  .btn-container > .save-btn {
    background: $orange; 
    &:hover {
      box-shadow: 0 0.5em 1em -0.5em $orange;
    }
  }
}

.avatar {
  width: calc(#{$field-height} * 1.75);
  height: calc(#{$field-height} * 1.75);
  border-radius: 50%;
  object-fit: cover;
  grid-row-start: 1;
  grid-row-end: 3;
  transition: height 0.4s $bez, width 0.4s $bez;
}

.badges-container {
  width: calc(#{$field-height} * 2.5);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: width 0.4s $bez;
  .badge {
    pointer-events: none;
    width: calc(#{$field-height}/2);
    height: calc(#{$field-height}/2);
    transition: width 0.4s $bez, height 0.4s $bez, opacity 0.2s ease-out;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &::after {
    content: 'CONFIGURE';
    font-weight: 600;
    letter-spacing: 0.15em;
    font-size: 0.625em;
    color: $blue-light;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0.75em 1.25em;
    border-radius: 999px;
    border: thin solid $blue-light;
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }
}

.pass-container {
  position: relative;
  .vis-icon {
    position: absolute;
    top: 2.7em;
    right: 1.2em;
    transform: translateY(-50%);
    color: $light;
    opacity: 0;
    transition: opacity 0.4s ease-out;
    i {
      cursor: pointer;
      opacity: 0.5;
      z-index: 1;
      transition: opacity 0.2s ease-out;
      &:hover {
        opacity: 0.75;
      }
    }
    i.visible {
      opacity: 1;
    }
  }
}

#pass-conf-container {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.icon-container.paypal {
  background: rgba(0, 113, 187, 0.1);
  i {
    color: #0079C1;
  }
}
.icon-container.stripe {
  background: rgba(103, 114, 229, 0.1);
  i {
    color: #6772E5;
  }
}

.section.edit-mode {
  cursor: auto;
  margin-top: -2px;
  margin-bottom: calc(2vw + 2px);
  .edit-btn {
    opacity: 0;
  }
  .panel-left {
    width: 0;
    opacity: 0;
  }
  .panel-right {
    width: 100%;
    border-left: thin solid transparent;
    padding-left: 0;
    .input-container {
      height: calc(#{$field-height} * 1.5);
      input[type=text],
      input[type=password] {
        background: $lighter;
        line-height: 2.5em;
        padding-left: 1.2em;
        transition: color 0.1s ease-out, background-color 0.1s ease-out;
        &::placeholder {
          opacity: 0;
        }
        &:hover {
          background: $lightbluetint;
          color: $blue-light;
        }
      }
    }
    .btn-container {
      height: $field-height;
      opacity: 1;
      button {
        visibility: visible;
      }
    }
    .pass-container > .vis-icon {
      opacity: 1;
    }
    #pass-conf-container {
      visibility: visible;
      opacity: 1;
    }
    .avatar {
      height: calc(#{$field-height} * 1.5 * 1.75);
      width: calc(#{$field-height} * 1.5 * 1.75);
    }
    .badges-container {
      cursor: pointer;
      position: relative;
      width: calc(#{$field-height} * 2.5 * 1.5);
      .badge {
        width: calc(#{$field-height}/2 * 1.5);
        height: calc(#{$field-height}/2 * 1.5);
      }
      &:hover {
        .badge {
          opacity: 0.5;
        }
        &::after {
        opacity: 1;
        }
      }
    } 
  }
}

.badge-edit-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 50vh;
  display: flex;
  .badge-menu {

  }
  .badge-info {
    
  }
}