@import "global";
$field-height: 4em;
$bez: cubic-bezier(.15,.51,.51,.97);

.draggable-cursor * {
  cursor: move !important; /* fallback: no `url()` support or images disabled */
  cursor: -webkit-grabbing !important; /* Chrome 1-21, Safari 4+ */
  cursor: -moz-grabbing !important; /* Firefox 1.5-26 */
  cursor: grabbing !important; /* W3C standards syntax, should come least */
}

.pass-conf-container {
  display: none;
}

.section-container.mobile-hide,
.section-container.edit-mode.mobile-hide {
  display: none;
}

.darken-overlay {
  display: none;
}

// ==========================================
// UI CONTAINER
// ==========================================

.ui-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: $vert-space-mobile;
  width: 100%;
  max-width: 100%;
  flex: 1 0 auto;
}

// ==========================================
// GENERAL STYLES
// ==========================================

h2 {
  font-size: 1em;
  font-weight: 600;
}

h3 {
  font-size: 0.5rem;
  letter-spacing: 0.1em;
  color: $light;
  font-weight: 500;
  text-transform: uppercase;
}

h4 {
  font-size: 0.75rem;
  font-weight: inherit;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.35rem 0;
  h3 {
    display: none;
  }
  input {
    background: $lighter;
    font-size: 1rem;
    line-height: 200%;
    font-weight: 400;
    padding: 0.75em 1.5em;
    border-radius: 0.75em;
    &::placeholder {
      font-size: inherit;
      font-weight: 300;
      opacity: 0.5;
      color: $light;
    }
    &:focus::placeholder {
      opacity: 0.25;
    }
  }
}

.input-container.btn-to-input {
  background: transparent;
  h3, input {
    display: none;
  }
  button {
    cursor: pointer;
    width: 100%;
    padding: 1em 1.5em;
    border-radius: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1rem;
    font-weight: 600;
    line-height: 200%;
  }
  span.current {
    color: $darker;
    font-weight: 400;
  }
  i {
    position: absolute;
    top: 50%;
    right: 1rem;
    font-size: inherit;
    transform: translateY(-50%);
    &.pen {
      display: none;
    }
  }
  span.caption {
    text-transform: uppercase;
    font-weight: 600;
    line-height: 200%;
    letter-spacing: 0.1em;
    font-size: 0.75rem;
    transition: box-shadow 0.2s ease-out;
  }
}

// ==========================================
// BUTTONS & ICONS
// ==========================================

.switch-opt {
  height: 5.5rem;
  padding: 0.75em 1.5em;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-content: center;
  .switch-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $lighter;
    border-radius: 0.75rem;
    transition: background-color 0.2s ease-out;
  }
  h3 {
    z-index: 0;
    display: block;
    width: 100%;
  }
  span {
    z-index: 0;
    opacity: 1;
    font-weight: 400;
    color: $light;
    margin: 0;
    line-height: 200%;
  }
  .switch-custom {
    z-index: 0;
    background: transparent;
    border: thin solid $light;
    transition: background-color 0.3s ease-out, border 0.3s ease-out;
    &::after {
      background: $light;
    }
  }
  input:checked {
    & ~ .switch-bg {
      background: $orange;
    }
    & ~ h3, & ~ span {
      color: $lightest;
    }
    & ~ .switch-custom {
      border: thin solid $lightest;
      &::after {
        background: $lightest;
      }
    } 
  }
}

.cancel-back {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  opacity: 0.75;
  color: $light;
  background: transparent;
  font-weight: 500;
  transition: opacity 0.2s ease-out;
  i {
    font-size: 1em;
  }
  &:active, &:focus, &:hover {
    opacity: 1;
  }
}

.save-btn,
.continue-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  letter-spacing: 0.15em;
  border-radius: 1rem;
  height: calc(#{$field-height} + 0.5rem);
  width: 100%;
  color: $lightest;
  font-weight: 500;
  transition: box-shadow 0.2s ease-out;
  i {
    color: $lightest;
  }
  &::after {
    content: 'Save';
    margin-left: 0.5em;
    text-transform: uppercase;
    color: $lightest;
    letter-spacing: 0.25em;
  }
}
.continue-btn {
  i {
    font-size: 0.75rem;
    margin-left: 0.5em;
  }
}

.icon-container {
  height: calc(#{$field-height} * 0.75);
  width: calc(#{$field-height} * 0.75);
  border-radius: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-size: 1.5em;
  }
}

// ==========================================
// SECTIONS
// ==========================================

.section {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: $horiz-space-mobile;
  padding: 1.25rem;
  font-size: 1rem;
  border-radius: 1em;
  background: $lightest;
  position: relative;
  box-shadow: 0 0.25em 0.5em -0.25em rgba(0,0,0,0.02);
  .edit-btn {
    position: absolute;
    bottom: calc(1.25rem + 0.5rem*1.5 + 0.5rem);
    right: 1.25rem;
    display: flex;
    transition: opacity 0.4s ease-out;
    font-size: 0.75rem;
    i {
      font-size: inherit;
    }
  }
}

.panel-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;
  i {
    font-size: 1rem;
    padding: 0.75em;
    border-radius: 33%;
    margin-bottom: 1rem;
  }
  p {
    font-size: 0.5rem;
    font-weight: 500;
    color: $dark;
    opacity: 0.5;
    line-height: 150%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
  }
}

.panel-right {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  .mobile-subheading {
    order: -2;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    margin-bottom: 0.5em;
  }
}

.btn-container {
  pointer-events: none;
  margin-top: 1.5rem;
  flex: 1 0 auto;
  width: 100%;
  opacity: 0.25;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  .cancel-btn {
    display: none;
  }
  &.unsaved-changes {
    pointer-events: auto;
    opacity: 1;
    button {
      cursor: pointer;
    }
    .save-btn {
      box-shadow: 0 0.5em 1.2em -0.4em;
    }
    &:hover > .save-btn {
      box-shadow: 0 0.5em 1em -0.5em;
    }
  }
}

// ==========================================
// SECTION EDIT MODE
// ==========================================

.edit-mode {
  background: transparent;
  padding: 0;
  .edit-btn {
    display: none;
  }
  .panel-left {
    display: none;
  }
  .panel-right {
    display: flex;
  }
}

// ==========================================
// PROFILE SECTION
// ==========================================

.profile-section {
  .panel-left > i {
    color: $green;
    background: rgba(24,219,172,0.05);
  }
  .edit-btn, h4 {
    color: $green;
  }
  .avatar-form {
    order: -1;
    width: 35vw;
    height: 35vw;
    margin: 0.5rem 0;
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    .avatar-edit {
      z-index: 1;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: inherit;
      opacity: 0;
      cursor: pointer;
      color: $lightest;
      transition: opacity 0.2s ease-out;
      input {
        display: none;
      }
      &:hover {
        opacity: 1;
        & ~ .avatar-preview {
          filter: brightness(0.75);
        }
      }
    }
    .avatar-preview {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: opacity 0.8s ease-out, filter 0.2s ease-out;
      &.fade {
        opacity: 0;
        transition: none;
      }
    }
  }
  .badges-container {
    order: -1;
    height: calc(#{$field-height} * 2 + 3.5em);
    border-radius: 0.75rem;
    padding: 0.75rem 1rem;
    padding-right: 2.5rem;
    background: $lighter;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    color: $green;
    cursor: pointer;
    transition: filter 0.1s ease-out;
    .badge {
      width: $field-height;
      height: $field-height;
      padding: calc(#{$field-height} * 0.15);
    }
    i.arrow {
      color: $green;
    }
    span.caption {
      width: 100%;
      padding-left: 0.5em;
    }
  }
  .btn-container > .save-btn { 
    background: $green;
    color: $green;
  }
}

// ==========================================
// ACCOUNT SECTION
// ==========================================

.account-section {
  .panel-left > i {
    color: $blue-light; 
    background: rgba(54,196,232,0.05);
  }
  .edit-btn, h4 {
    color: $blue-light; 
  }
  .btn-container > .save-btn {
    background: $blue-light;
    color: $blue-light;
  }
  .btn-to-input {
    button {
      color: $blue-light;
      background: $lightbluetint;
    }
  }
}

// ==========================================
// NOTIFICATIONS SECTION
// ==========================================

.notifications-section {
  .panel-left > i {
    color: $orange;
    background: rgba(255,159,70,0.05);
  }
  .edit-btn, h4 {
    color: $orange; 
  }
  .btn-container > .save-btn {
    background: $orange; 
    color: $orange;
  }

}

// ==========================================
// DEACTIVATE & DELETE ACCOUNT
// ==========================================

.de-container {
  display: flex;
  justify-content: space-between;
  background: transparent;
  margin-top: calc(#{$horiz-space-mobile} * 0.5);
  padding-top: #{$horiz-space-mobile};
  border-top: thin solid $lighter;
  button {
    width: calc((100% - #{$horiz-space-mobile}) / 2);
    cursor: pointer;
    display: flex;
    align-items: center;
    background: $lighter;
    color: $light;
    font-size: 0.625rem;
    font-weight: 500;
    line-height: 120%;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    transition: color 0.1s ease-out;
    i {
      margin-right: 0.5em;
      font-size: 1.25rem;
      line-height: inherit;
      opacity: 0.75;
    }
    span {
      text-align: left;
      opacity: 0.75;
    }
  }
  .deactivate-btn:hover {
    color: $orange;
  }
  .delete-btn:hover {
    color: $red;
  }
}

// ==========================================
// SCREENS
// ==========================================

.edit-screen,
.step-one,
.step-two {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.edit-screen.on-step-one {
  .step-two {
    display: none;
  }
}
.edit-screen.on-step-two {
  .step-one {
    display: none;
  }
}

.screen-tooltip {
  margin: 0.5rem;
  font-size: 0.75rem;
  color: $dark;
  opacity: 0.5;
  align-self: center;
  width: 80%;
  text-align: center;
}

.badge-config-close {
  order: -1;
  .md-24 {
    display: none;
  }
}

.badge-edit-window {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  flex: 1 1 0;
  width: 100%;
  .screen-tooltip {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
  }
  .badge-menu {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    .badge-achieved-section {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      padding: 1.5rem 0;
    }
    .badge-not-achieved-section {
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
    }
  }
  .badge-info {
    display: none;
  }
}

.config-badge {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3.5rem;
  width: 100%;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  margin: 0.5rem 0;
  background: $lighter;
  &::after {
    content: attr(data-name);
    margin-left: 1em;
  }
  label {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    transform: rotate(-45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      display: none;
    }
    img {
      height: 100%;
      width: 100%;
      transition: filter 0.1s ease-out, margin 0.1s ease-out;
      &:hover {
        margin: -2px -2px 0 0;
        filter: drop-shadow(-0.3rem 0.3rem 0.5rem rgba(0,0,0,0.1));
      }
    }
  }
  i {
    margin-left: auto;
    order: 1;
    color: $light;
  }
  &.badge-focus {
    background: $lighter;
    label > img {
      margin: -2px -2px 0 0;
    }
  }
}
.badge-not-achieved-section > .config-badge > label > img {
  opacity: 0.25;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.badge-not-achieved-section > .config-badge::after {
  opacity: 0.15;
}
.badge-not-achieved-section > .config-badge > i {
  display: none;
}

.sortable-ghost {
  opacity: 0.25;
}

.badge-config-done {
  align-self: flex-end;
  width: 100%;
  margin-top: 1.5rem;
  background: $green;
  color: $green;
}

.badge-details {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  .badge-showcase {
    width: 11rem;
    height: 11rem;
    padding: 1.65rem;
    align-self: center;
    img {
      animation: show-badge-large 2s forwards;
    }
  }
  .badge-name {
    font-size: 2rem;
    color: $dark;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 0.3rem;
    animation: show-badge-name 2s forwards;
  }
  .badge-status {
    font-size: 0.75rem;
    color: $green;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 200%;
    text-transform: uppercase;
    display: none;
    align-items: center;
    i {
      font-size: 1rem;
      margin-right: 0.5em;
      animation: show-badge-tick 2s forwards;
    }
    span {
      animation: show-badge-achieved 2s forwards;
    }
  }
  .badge-about {
    font-size: 0.75rem;
    line-height: 175%;
    margin-top: 0.6rem;
    animation: show-badge-about 2s forwards;
  }
}

.email-edit-screen {
  .cancel-back {
    margin-bottom: 5vh;
  }
  .pass-container {
    position: relative;
    .vis-icon {
      position: absolute;
      top: calc(50% + 0.35rem);
      right: 1.2em;
      transform: translateY(-50%);
      color: $light;
      transition: opacity 0.4s ease-out;
      i {
        cursor: pointer;
        opacity: 0.5;
        z-index: 1;
        transition: opacity 0.2s ease-out;
        &:hover {
          opacity: 0.75;
        }
      }
      i.visible {
        opacity: 1;
      }
    }
  }
  .save-btn,
  .continue-btn {
    background: $blue-light;
  }
  // .email-done {
  //   background: $blue-light;
  //   &::after {
  //     content: 'Continue';
  //   }
  // }
}

.badge-details-show { display: flex; }

.badge-details.badge-achieved > .badge-status { display: flex; }

#config-trophy:checked ~ img, .badge-showcase.trophy { filter: drop-shadow(0 0.625rem 1.5625rem $trophy-col); }
#config-loyal:checked ~ img, .badge-showcase.loyal { filter: drop-shadow(0 0.625rem 1.5625rem $loyal-col); }
#config-console:checked ~ img, .badge-showcase.console { filter: drop-shadow(0 0.625rem 1.5625rem $console-col); }
#config-medal:checked ~ img, .badge-showcase.medal { filter: drop-shadow(0 0.625rem 1.5625rem $medal-col); }
#config-grad:checked ~ img, .badge-showcase.grad { filter: drop-shadow(0 0.625rem 1.5625rem $grad-col); }
#config-review:checked ~ img, .badge-showcase.review { filter: drop-shadow(0 0.625rem 1.5625rem $review-col); }
#config-love:checked ~ img, .badge-showcase.love { filter: drop-shadow(0 0.625rem 1.5625rem $love-col); }
#config-verified:checked ~ img, .badge-showcase.verified { filter: drop-shadow(0 0.625rem 1.5625rem $verified-col); }
#config-tour:checked ~ img, .badge-showcase.tour { filter: drop-shadow(0 0.625rem 1.5625rem $tour-col); }

@keyframes show-badge-large {
  0% {
    margin-top: 1rem;
    margin-bottom: -1rem;
    opacity: 0;
  }
  30% {
    margin-top: 0;
    margin-bottom: 0;
  }
  40% {
    margin-top: 0;
    margin-bottom: 0;
    opacity: 1;
  }
  100% {
    margin-top: 0;
    margin-bottom: 0.5rem;
    opacity: 1;
  }
}

@keyframes show-badge-tick {
  0% {
    opacity: 0;
    margin-top: 2px;
    margin-bottom: -2px;
  }
  70% {
    opacity: 0;
    margin-top: 2px;
    margin-bottom: -2px;
  }
  80% {
    opacity: 1;
    margin-top: 0;
    margin-bottom: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@keyframes show-badge-achieved {
  0% {
    opacity: 0;
    margin-left: -2px;
    margin-right: 2px;
  }
  80% {
    opacity: 0;
    margin-left: -2px;
    margin-right: 2px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
    margin-right: 0;
  }
}

@keyframes show-badge-name {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}

@keyframes show-badge-about {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {

.main-page {
  padding-right: 0;
  padding-bottom: 0;
}

.darken-overlay {
  display: block;
}

.section-container.mobile-hide {
  display: flex;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 0.625rem;
}

.ui-container {
  padding-top: 0;
  padding-right: $horiz-space-tablet;
  padding-bottom: $vert-space-tablet;
  flex: 1 0 0;
}

.input-container {
  margin: 0.5rem 0;
  width: calc(50% - 0.5rem);
  input {
    background: $bg-grey;
    transition: background-color 0.1s ease-out;
    &:hover {
      background: $lighter;
    }
  }
}

.input-container.btn-to-input {
  button {
    padding: 0.75em 1.5em;
  }
  i {
    display: none;
  }
  span.caption {
    font-size: 0.75rem;
  }
}

.section {
  height: auto;
  flex-direction: column;
  padding: 2.5em;
  .edit-btn {
    display: none;
  }
}

.pass-conf-container,
.cancel-back {
  display: none;
}

.panel-left {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1em;
  i {
    margin: 0 0.5em 0 0.25em;
    font-size: 1.5rem;
    padding: 0;
  }
  p {
    display: none;
  }
}

.panel-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  .mobile-subheading {
    display: none;
  }
  .btn-container {
    flex: 1 1 auto;
    margin: 1rem 0 0 0;
    grid-column-start: 1;
    grid-column-end: 4;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    button {
      border-radius: 1.25em;
      padding: 1em 1.75em;
      height: auto;
    }
  }
}

.btn-container {
  margin-top: 2rem;
  padding-top: 2px;
  .save-btn {
    width: auto;
    margin: 0 1em;
    transition: margin-top 0.1s ease-out, margin-bottom 0.1s ease-out, box-shadow 0.1s ease-out, opacity 0.2s ease-out;
    &::after {
      text-transform: none;
    }
    &:active, &:focus, &:hover {
      margin-top: -2px;
      margin-bottom: 2px;
    }
  }
  .cancel-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    opacity: 0.5;
    color: $dark;
    background: transparent;
    border: thin solid $lighter;
    transition: opacity 0.2s ease-out, background-color 0.1s ease-out;
    &::after {
      content: 'Cancel';
    }
    &:hover {
      background: $lighter;
      opacity: 1;
    }
  }
}

.edit-mode {
  background: $lightest;
  .panel-left {
    display: flex;
  }
}

.profile-section {
  .panel-left > i {
    background: transparent;
  }
  .avatar-form {
    width: calc(100px + 10vw);
    height: calc(100px + 10vw);
    border-radius: 50%;
    margin: 1rem 2rem 1rem 0;
  }
  .badges-container {
    margin-left: auto;
    flex: 1 1 calc(100px + 10vw);
    height: auto;
    max-height: calc(100px + 10vw);
    padding: 1rem;
    span.caption {
      height: 2rem;
    }
    .badge {
      height: calc(((100px + 10vw) - 4rem) / 2);
      width: calc(((100px + 10vw) - 4rem) / 2);
    }
  }
  .display-name-container {
    width: 100%;
  }
}

.account-section {
  .panel-left > i {
    background: transparent;
  }
  .email-container {
    width: 100%;
  }
}

.de-container {
  padding: 0;
  margin: 0;
  border: none;
  button {
    width: auto;
    line-height: normal;
    font-size: 0.75rem;
  }
  .deactivate-btn {
    margin-right: 2em;
  }
}

.notifications-section {
  .panel-left > i {
    background: transparent;
  }
}

.edit-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
}

.badge-config-close {
  position: absolute;
  cursor: pointer;
  top: 1.5rem;
  right: 1.5rem;
  .md-24 {
    display: block;
    color: $light;
    transition: color 0.1s ease-out;
    &:hover {
      color: $red;
    }
  }
}

.badge-edit-window {
  flex-direction: row;
  box-shadow: 0 1rem 2rem -1rem $dark;
  background: $lightest;
  border-radius: 2rem;
  width: auto;
  flex: 1 1 auto;
  height: 60vh;
  .badge-menu {
    background: $lightest;
    width: 45vw;
    padding: 3rem;
    max-width: none;
    height: 100%;
    overflow-y: auto;
    .screen-tooltip {
      top: 3rem;
      right: auto;
      left: 4rem;
      transform: translateY(-100%);
      z-index: 2;
    }
    .badge-achieved-section {
      flex-direction: row;
      flex-wrap: wrap;
      margin: 1em 0 2em 0;
      padding: 0;
      border: none;
    }
    .badge-not-achieved-section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  .badge-info {
    position: relative;
    background: $bg-grey;
    height: 100%;
    width: 20rem;
    padding: 3rem;
    padding-right: calc(3rem + 8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url(/public/images/showcase.png);
    background-size: cover;
    &::-webkit-scrollbar-track {
      display: none;
    }
  }
}

.config-badge {
  height: 7rem;
  width: 7rem;
  padding: calc(7rem * 0.15);
  border-radius: 33%;
  margin: 0;
  background: transparent;
  transition: background-color 0.1s ease-out;
  &::after {
    content: normal;
  }
  label {
    height: 100%;
    width: 100%;
  }
  i {
    display: none;
  }
  &.badge-focus {
    background: $lighter;
    label > img {
      margin: -2px -2px 0 0;
    }
  }
}

.badge-config-done {
  cursor: pointer;
  height: auto;
  width: auto;
  padding: 0.75rem 1.5rem;
  transition: filter 0.2s ease-out;
  border-radius: 999px;
  box-shadow: 0 0.5em 1em 0em;
  background: #29E9BA;
  i {
    font-size: 1.5rem;
    margin-right: 0.15em;
  }
  &::after {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-transform: none;
  }
  &:hover {
    filter: brightness(0.95);
  }
}

}

@media only screen and (min-width: 1200px) {

.main-page {
  padding-right: $horiz-space-desktop;
  padding-bottom: $vert-space-desktop;
}

h3 {
  font-size: 0.75em;
  color: $light;
  line-height: 2em;
}

.ui-container {
  padding-right: calc(#{$horiz-space-desktop}/2);
  padding-bottom: 0;
}

.input-container {
  width: 100%;
  height: $field-height;
  margin: 0;
  h3 {
    display: block;
  }
  input {
    font-size: 1em;
    font-weight: 500;
    background: transparent;
    padding: 0;
    transition: background-color 0.2s ease-out;
    &::placeholder {
      color: transparent;
    }
    &:hover {
      background: transparent;
    }
  }
}

.input-container.btn-to-input {
  width: 100%;
  height: calc(100% - 1em);
  margin: 0;
  h3 {
    display: block;
  }
  button {
    padding: 0;
    align-items: flex-start;
    .current {
      font-weight: 500;
      line-height: 200%;
    }
  }
  span.caption {
    display: none;
    font-size: 0.75rem;
    padding: 0.75rem 1rem;
    border-radius: 0.4rem;
    border: solid thin;
    line-height: 1em;
    margin-top: 0.2rem;
    align-self: center;
  }
  i.pen {
    display: block;
    font-size: 0.75rem;
    padding: 0.4rem;
    border-radius: 0.4rem;
    border: solid thin;
    right: 0;
    color: inherit;
    transition: box-shadow 0.2s ease-out;
  }
  &:hover {
    i.pen, span.caption {
      box-shadow: 0 2px 10px -4px;
    }
  }
}

.switch-opt {
  width: 100%;
  padding: 0;
  background: transparent;
  align-content: flex-start;
  justify-content: flex-start;
  .switch-bg {
    display: none;
  }
  span {
    color: $darker;
    font-weight: 500;
    margin-right: 3em;
    line-height: 200%;
  }
  .switch-custom {
    background: $lighter;
    border: none;
    &::after {
      background: $lightest;
    }
  }
  input:checked {
    & ~ h3 {
      color: $light;
    }
    & ~ span {
      color: $darker;
    }
    & ~ .switch-custom {
      border: none;
      &::after {
        background: $lightest;
      }
    }
  }
}

.section {
  margin-bottom: 2vw;
  padding: 2em 4vw 1em 4vw;
  h3 {
    color: $light;
  }
}

.panel-right {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  column-gap: calc(#{$field-height} * 0.75);
  .input-container {
    height: calc(#{$field-height} * 1.5);
    input {
      line-height: 3em;
      padding-left: 1.2em;
      background: $bg-grey;
      &::placeholder {
        opacity: 0;
      }
      &:hover {
        background: $lighter;
      }
    }
  }
}

.btn-container {
  height: $field-height;
  .cancel-btn {
    cursor: pointer;
  }
  .save-btn {
    opacity: 0.25;
    pointer-events: none;
  }
  &.unsaved-changes {
    .save-btn {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.edit-mode {
  .panel-right {
    display: grid;
    width: 100%;
  }
}

.de-container {
  justify-content: flex-start;
}

.profile-section {
  .panel-left > i {
    background: transparent;
  }
  .avatar-form {
    order: 0;
    margin: 0;
    height: calc(#{$field-height} * 1.5 * 1.75);
    width: calc(#{$field-height} * 1.5 * 1.75);
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    justify-self: center;
  }
  .badges-container {
    order: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 2rem 0 0;
    background: transparent;
    .badge {
      width: calc(#{$field-height}/2 * 1.5);
      height: calc(#{$field-height}/2 * 1.5);
      padding: calc(#{$field-height}/2 * 0.15);
    }
    i.pen {
      right: 0.5em;
    }
  }
}

.account-section {
  .panel-left > i {
    background: transparent;
  }
  .btn-to-input {
    button {
      background: transparent;
    }
  }
  .street-container {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .email-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    .current {
      text-align: left;
      width: calc(100% - 2.5em);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .pass-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    i.pen {
      display: none;
    }
    span.caption {
      display: block;
    }
  }
}

.notifications-section {
  .panel-left > i {
    background: transparent;
  }
}

.edit-screen {
  left: calc(50% + 75px);
}

.badge-edit-window {
  .badge-menu {
    width: 50vw;
  }
}

}

// .icon-container.paypal {
//   background: rgba(0, 113, 187, 0.1);
//   i {
//     color: #0079C1;
//   }
// }
// .icon-container.stripe {
//   background: rgba(103, 114, 229, 0.1);
//   i {
//     color: #6772E5;
//   }
// }