@import "global";
$field-height: 4em;
$bez: cubic-bezier(.15,.51,.51,.97);

.draggable-cursor * {
  cursor: move !important; /* fallback: no `url()` support or images disabled */
  cursor: -webkit-grabbing !important; /* Chrome 1-21, Safari 4+ */
  cursor: -moz-grabbing !important; /* Firefox 1.5-26 */
  cursor: grabbing !important; /* W3C standards syntax, should come least */
}

// ==========================================
// UI CONTAINER
// ==========================================

.ui-container {
  margin-right: calc(#{$horiz-space} / 2);
  padding-right: calc(#{$horiz-space} / 2);
  padding-bottom: 0;
  flex-direction: column;
}

// ==========================================
// GENERAL STYLES
// ==========================================

h2 {
  font-size: 1.5em;
  font-weight: 600;
}

h3 {
  font-size: 0.75em;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: $light;
  text-transform: uppercase;
}

input[type=text],
input[type=password] {
  font-size: 1em;
  line-height: 200%;
  font-weight: 500;
  transition: color 1s ease-out, background-color 1s ease-out;
  &::placeholder {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }
}

// ==========================================
// DELETE ACCOUNT
// ==========================================

.de-container {
  width: 100%;
  display: flex;
  margin-bottom: 0.5em;
  justify-content: flex-end;
  background: transparent;
  button {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    background: transparent;
    color: $light;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 120%;
    transition: color 0.1s ease-out;
    margin: 0 1em;
    i {
      margin-right: 0.25em;
      font-size: inherit;
      line-height: inherit;
    }
    &:hover {
      color: $red;
    }
  }
  .deactivate-btn:hover {
    color: $red;
  }
  .delete-btn:hover {
    color: $red;
  }
}

// ==========================================
// SECTIONS
// ==========================================

.section {
  cursor: pointer;
  width: 100%;
  margin-bottom: 2vw;
  padding: 2.5em 4vw 1.5em 3vw;
  display: flex;
  font-size: 1rem;
  border-radius: 1em;
  background: $lightest;
  position: relative;
  transition: background-color 0.2s ease-out, margin 0.2s ease-out, box-shadow 0.2s ease-out;
  .edit-btn {
    position: absolute;
    top: 2.5rem;
    right: 3vw;
    transform: translate(0, -100%);
    display: flex;
    align-items: center;
    transition: opacity 0.4s ease-out;
    &::after {
      content: 'Edit';
    }
    i {
      font-size: inherit;
      margin-right: 0.5em;
    }
  }
  &:hover {
    margin-top: -2px;
    margin-bottom: calc(2vw + 2px);
    .edit-btn::after {
      content: 'click to edit';
    }
    .edit-btn > i {
      display: none;
    }
  }
}

.panel-left {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  transition: width 0.4s $bez, opacity 0.4s ease-out;
  i {
    margin-bottom: 0.25em;
  }
}

.panel-right {
  width: 80%;
  border-left: medium solid $lighter;
  padding-left: 5vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: calc(#{$field-height} * 0.75);
  transition: width 0.4s $bez, border-left 0.4s $bez, padding-left 0.4s $bez;
  .input-container {
    height: $field-height;
    display: flex;
    flex-direction: column;
    transition: height 0.4s $bez;
    input {
      background: transparent;
      border-radius: 0.75em;
      transition: background-color 0.4s ease-out, line-height 0.4s $bez, padding-left 0.4s $bez;
    }
  }
  .btn-container {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;
    padding-top: 2px;
    height: 0;
    opacity: 0;
    transition: height 0.4s $bez, opacity 0.4s ease-out;
    button {
      visibility: hidden;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.75em;
      letter-spacing: 0.15em;
      padding: 1em 1.75em;
      border-radius: 1.25em;
    }
    .save-btn {
      color: $lightest;
      font-weight: 600;
      margin-left: 1em;
      transition: margin 0.1s ease-out, box-shadow 0.1s ease-out;
      &::after {
        content: 'Save';
        margin-left: 0.5em;
      }
      &:hover {
        margin-top: -2px;
        margin-bottom: 2px;
      }
    }
    .cancel-btn {
      opacity: 0.5;
      color: $dark;
      background: transparent;
      border: thin solid $lighter;
      transition: opacity 0.1s ease-out, background-color 0.1s ease-out;
      &::after {
        content: 'Cancel';
      }
      &:hover {
        background: $lighter;
        opacity: 1;
      }
    }
  }
}

// ==========================================
// BUTTONS & ICONS
// ==========================================

.switch-opt {
  align-self: flex-start;
  width: auto;
  justify-content: flex-start;
  span {
    opacity: 1;
    font-weight: 500;
  }
}

.icon-container {
  height: calc(#{$field-height} * 0.75);
  width: calc(#{$field-height} * 0.75);
  border-radius: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-size: 1.5em;
  }
}

// ==========================================
// ACCOUNT SECTION
// ==========================================

.profile-container {
  .panel-left > i,
  .edit-btn {
    color: $green; 
  }
  &:hover,
  &.edit-mode {
    box-shadow: 0 2em 4em -4em $green;
  }
  .btn-container > .save-btn { 
    background: $green;
    &:hover {
      box-shadow: 0 0.5em 1em -0.5em $green;
    }
  }
}

.avatar {
  width: calc(#{$field-height} * 1.75);
  height: calc(#{$field-height} * 1.75);
  border-radius: 50%;
  object-fit: cover;
  grid-row-start: 1;
  grid-row-end: 3;
  transition: height 0.4s $bez, width 0.4s $bez;
}

.badges-container {
  width: calc(#{$field-height} * 2.5);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  transition: width 0.4s $bez;
  .badge {
    width: calc(#{$field-height}/2);
    height: calc(#{$field-height}/2);
    padding: calc(#{$field-height}/2 * 0.15);
    transition: width 0.4s $bez, height 0.4s $bez, opacity 0.2s ease-out;
  }
  &::after {
    content: 'CONFIGURE';
    font-weight: 600;
    letter-spacing: 0.15em;
    font-size: 0.625em;
    color: $green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0.75em 1.25em;
    border-radius: 999px;
    border: thin solid $green;
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }
  &:hover {
    .badge {
      opacity: 0.5;
    }
    &::after {
      opacity: 1;
    }
  }
}

.pass-container {
  position: relative;
  .vis-icon {
    position: absolute;
    top: 2.7em;
    right: 1.2em;
    transform: translateY(-50%);
    color: $light;
    opacity: 0;
    transition: opacity 0.4s ease-out;
    i {
      cursor: pointer;
      opacity: 0.5;
      z-index: 1;
      transition: opacity 0.2s ease-out;
      &:hover {
        opacity: 0.75;
      }
    }
    i.visible {
      opacity: 1;
    }
  }
}

.input-container.pass-conf-container {
  display: none;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

// ==========================================
// BILLING SECTION
// ==========================================

.bill-container {
  .panel-left > i,
  .edit-btn {
    color: $green; 
  }
  &:hover,
  &.edit-mode {
    box-shadow: 0 2em 4em -4em $green;
  }
  .btn-container > .save-btn { 
    background: $green; 
    &:hover {
      box-shadow: 0 0.5em 1em -0.5em $green;
    }
  }
}

.icon-container.paypal {
  background: rgba(0, 113, 187, 0.1);
  i {
    color: #0079C1;
  }
}
.icon-container.stripe {
  background: rgba(103, 114, 229, 0.1);
  i {
    color: #6772E5;
  }
}

// ==========================================
// ACCOUNT SECTION
// ==========================================

.acc-container {
  .panel-left > i,
  .edit-btn {
    color: $blue-light; 
  }
  &:hover,
  &.edit-mode {
    box-shadow: 0 2em 4em -4em $blue-light;
  }
  .btn-container > .save-btn {
    background: $blue-light; 
    &:hover {
      box-shadow: 0 0.5em 1em -0.5em $blue-light;
    }
  }
}

// ==========================================
// NOTIFICATIONS SECTION
// ==========================================

.notifications-container {
  .panel-left > i,
  .edit-btn {
    color: $orange; 
  }
  &:hover,
  &.edit-mode {
    box-shadow: 0 1.5em 4em -3em $orange;
  }
  .btn-container > .save-btn {
    background: $orange; 
    &:hover {
      box-shadow: 0 0.5em 1em -0.5em $orange;
    }
  }
}

// ==========================================
// SECTION EDIT MODE
// ==========================================

.section.edit-mode {
  cursor: auto;
  margin-top: -2px;
  margin-bottom: calc(2vw + 2px);
  .edit-btn {
    opacity: 0;
  }
  .panel-left {
    width: 0;
    opacity: 0;
  }
  .panel-right {
    width: 100%;
    border-left: thin solid transparent;
    padding-left: 0;
    .input-container {
      height: calc(#{$field-height} * 1.5);
      input[type=text],
      input[type=password] {
        background: $lighter;
        line-height: 2.5em;
        padding-left: 1.2em;
        transition: color 0.1s ease-out, background-color 0.1s ease-out;
        &::placeholder {
          opacity: 0;
        }
        &:hover {
          background: $lightbluetint;
          color: $blue-light;
        }
      }
    }
    .btn-container {
      height: $field-height;
      opacity: 1;
      button {
        visibility: visible;
      }
    }
    .pass-container > .vis-icon {
      opacity: 1;
    }
    .pass-conf-container {
      display: flex;
      visibility: visible;
      opacity: 1;
      height: $field-height;
    }
    .avatar {
      height: calc(#{$field-height} * 1.5 * 1.75);
      width: calc(#{$field-height} * 1.5 * 1.75);
    }
    .badges-container {
      cursor: pointer;
      position: relative;
      width: calc(#{$field-height} * 2.5 * 1.5);
      .badge {
        width: calc(#{$field-height}/2 * 1.5);
        height: calc(#{$field-height}/2 * 1.5);
      }
    } 
  }
}

// ==========================================
// BADGE CONFIG SCREEN
// ==========================================

.badge-edit-screen {
  position: absolute;
  top: 50%;
  left: calc(50% + 75px);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.badge-edit-window {
  position: relative;
  height: 60vh;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0 1rem 2rem -1rem $dark;
  background: $lightest;
  .badge-config-close {
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: $light;
    transition: color 0.1s ease-out;
    &:hover {
      color: $red;
    }
  }
  .drag-tooltip {
    position: absolute;
    top: 3rem;
    left: 4rem;
    font-size: 0.75rem;
    color: $light;
    transform: translateY(-100%);
    z-index: 2;
  }
  .badge-menu {
    position: relative;
    background: $lightest;
    padding: 3rem;
    width: 50vw;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    .badge-achieved-section {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      margin: 1em 0;
    }
    .badge-not-achieved-section {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
    }
  }
  .badge-info {
    position: relative;
    background: $bg-grey;
    height: 100%;
    width: 20rem;
    padding: 3rem;
    padding-right: calc(3rem + 8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url(/public/images/showcase.png);
    background-size: cover;
    &::-webkit-scrollbar-track {
      display: none;
    }
  }
}

.config-badge {
  height: 7rem;
  width: 7rem;
  padding: calc(7rem * 0.15);
  border-radius: 33%;
  transition: background-color 0.1s ease-out;
  label {
    cursor: pointer;
    height: 100%;
    width: 100%;
    transform: rotate(-45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      display: none;
    }
    img {
      height: 100%;
      width: 100%;
      transition: filter 0.1s ease-out, margin 0.1s ease-out;
      &:hover {
        margin: -2px -2px 0 0;
        filter: drop-shadow(-0.3rem 0.3rem 0.5rem rgba(0,0,0,0.1));
      }
    }
  }
  &.badge-focus {
    background: $lighter;
    label > img {
      margin: -2px -2px 0 0;
    }
  }
}
.badge-not-achieved-section > .config-badge > label > img {
  opacity: 0.25;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.badge-edit-btn {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .badge-config-done {
    background: #29E9BA;
    margin-left: 1em;
    box-shadow: 0 0.5em 1em 0em $green;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    border-radius: 999px;
    color: $lightest;
    transition: filter 0.2s ease-out;
    i {
      margin-right: 0.15em;
    }
    &:hover {
      filter: brightness(0.95);
    }
  }
}

.badge-details {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  .badge-showcase {
    width: 11rem;
    height: 11rem;
    padding: 1.65rem;
    align-self: center;
    img {
      animation: show-badge-large 2s forwards;
    }
  }
  .badge-name {
    font-size: 2rem;
    color: $dark;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 0.3rem;
    animation: show-badge-name 2s forwards;
  }
  .badge-status {
    font-size: 0.75rem;
    color: $green;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 200%;
    text-transform: uppercase;
    display: none;
    align-items: center;
    i {
      font-size: 1rem;
      margin-right: 0.5em;
      animation: show-badge-tick 2s forwards;
    }
    span {
      animation: show-badge-achieved 2s forwards;
    }
  }
  .badge-about {
    font-size: 0.75rem;
    line-height: 175%;
    margin-top: 0.6rem;
    animation: show-badge-about 2s forwards;
  }
}

.badge-details-show { display: flex; }

.badge-details.badge-achieved > .badge-status { display: flex; }

#config-trophy:checked ~ img, .badge-showcase.trophy { filter: drop-shadow(0 0.625rem 1.5625rem $trophy-col); }
#config-loyal:checked ~ img, .badge-showcase.loyal { filter: drop-shadow(0 0.625rem 1.5625rem $loyal-col); }
#config-console:checked ~ img, .badge-showcase.console { filter: drop-shadow(0 0.625rem 1.5625rem $console-col); }
#config-medal:checked ~ img, .badge-showcase.medal { filter: drop-shadow(0 0.625rem 1.5625rem $medal-col); }
#config-grad:checked ~ img, .badge-showcase.grad { filter: drop-shadow(0 0.625rem 1.5625rem $grad-col); }
#config-review:checked ~ img, .badge-showcase.review { filter: drop-shadow(0 0.625rem 1.5625rem $review-col); }
#config-love:checked ~ img, .badge-showcase.love { filter: drop-shadow(0 0.625rem 1.5625rem $love-col); }
#config-verified:checked ~ img, .badge-showcase.verified { filter: drop-shadow(0 0.625rem 1.5625rem $verified-col); }
#config-tour:checked ~ img, .badge-showcase.tour { filter: drop-shadow(0 0.625rem 1.5625rem $tour-col); }

@keyframes show-badge-large {
  0% {
    margin-top: 1rem;
    margin-bottom: -1rem;
    opacity: 0;
  }
  30% {
    margin-top: 0;
    margin-bottom: 0;
  }
  40% {
    margin-top: 0;
    margin-bottom: 0;
    opacity: 1;
  }
  100% {
    margin-top: 0;
    margin-bottom: 0.5rem;
    opacity: 1;
  }
}

@keyframes show-badge-tick {
  0% {
    opacity: 0;
    margin-top: 2px;
    margin-bottom: -2px;
  }
  70% {
    opacity: 0;
    margin-top: 2px;
    margin-bottom: -2px;
  }
  80% {
    opacity: 1;
    margin-top: 0;
    margin-bottom: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@keyframes show-badge-achieved {
  0% {
    opacity: 0;
    margin-left: -2px;
    margin-right: 2px;
  }
  80% {
    opacity: 0;
    margin-left: -2px;
    margin-right: 2px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
    margin-right: 0;
  }
}

@keyframes show-badge-name {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}

@keyframes show-badge-about {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
